@charset "utf-8";

/**
 * News
 * ---------------------------------------- */
.page-news {}


/* :::::: ブログの記事一覧 :::::: */
@media (hover: hover) {
    .p-bloglist .c-archivelist .container::before {
		content: "";
		z-index: -1;
        position: absolute;
		inset: -16px;
		border-radius: 8px;
		background: #86c0de29;
		transition: opacity .1s, transform .1s var(--easeOut);
	}
	.p-bloglist .c-archivelist .container:not(:hover)::before {
		opacity: 0;
		transform: scale(.96);
		transition-duration: .4s;
	}
}

/* :::::: ニュース一覧 :::::: */
@media (hover: hover) {
	.p-newslist .c-archivelist .container[href] {
		transition: background-size .4s var(--easeOut);
		background: linear-gradient(#86c0de1a, #86c0de1a) right bottom / 0 100% no-repeat;
	}
	.p-newslist .c-archivelist .container[href]:hover {
		background: linear-gradient(#86c0de1a, #86c0de1a) left bottom / 100% 100% no-repeat;
		transition-duration: .1s;
	}
}

/* :::::: スクロールコンテナ :::::: */
.p-scrollcontainer .c-scrollcontainer {
	max-height: 400px;
	max-width: 800px;
	margin-inline: auto;
	padding: 40px;
}
.p-scrollcontainer .c-scrollcontainer .c-lead {
	margin-top: 32px;
}
.p-scrollcontainer .c-scrollcontainer .c-title {
	font-size: 24px;
}
.p-scrollcontainer .c-scrollcontainer .c-title.-s {
	margin-top: 32px;
	font-size: 20px;
}
.p-scrollcontainer .c-scrollcontainer p {
	font-size: 16px;
}

/* :::::: マーカーライン :::::: */
.p-marker .marker_preview {
	margin-top: 1em;
	text-align: left;
}
.p-marker .marker_preview + .marker_preview {
	margin-top: 0;
}
.p-marker .marker_preview code {
	mix-blend-mode: multiply;
}
.p-marker .marker_preview .c-marker {
	margin: 0;
}
/* text-decoration */
.p-marker .marker_preview.-position .c-marker.-deco {
	text-underline-offset: -1.3em;
}
.p-marker .marker_preview.-width .c-marker.-deco {
	text-underline-offset: -1.3em;
	text-decoration-thickness: 2em;
}
.p-marker .marker_preview.-overline .c-marker.-deco {
	text-decoration-line: overline;
}
.p-marker .marker_preview.-through .c-marker.-deco {
	text-decoration-color: #86c0decc;
	text-decoration-line: line-through;
}
.p-marker .marker_preview.-double .c-marker.-deco {
	text-decoration-style: double;
}
.p-marker .marker_preview.-dotted .c-marker.-deco {
	text-decoration-style: dotted;
}
.p-marker .marker_preview.-dashed .c-marker.-deco {
	text-decoration-style: dashed;
	text-decoration-skip-ink: none;
}
.p-marker .marker_preview.-wavy .c-marker.-deco {
	text-decoration-style: wavy;
	text-decoration-skip-ink: none;
}
.p-marker .marker_preview.-anim .c-marker.-deco {
	text-decoration-skip-ink: none;
	transition: text-underline-offset .4s, text-decoration-thickness .4s;
}
.p-marker .marker_preview.-anim .c-marker.-deco:hover {
	text-underline-offset: -1.2em;
	text-decoration-thickness: .2em;
}
/* border-image */
.p-marker .marker_preview.-position .c-marker.-border {
	border-image-width: .5em 0 .5em;
}
.p-marker .marker_preview.-width .c-marker.-border {
	border-image-width: .2em 0 .2em;
}
.p-marker .marker_preview.-over .c-marker.-border {
	border-image-outset: 0 1em;
}
.p-marker .marker_preview.-anim .c-marker.-border {
	transition: border-image-width .4s;
}
.p-marker .marker_preview.-anim .c-marker.-border:not(:hover) {
	border-image-width: 2em 0 .2em;
}
/* background */
.p-marker .marker_preview.-position .c-marker.-bg {
	background-position: left bottom .3em;
}
.p-marker .marker_preview.-width .c-marker.-bg {
	background-size: 100% 2em;
}
.p-marker .marker_preview.-over .c-marker.-bg {
	padding-inline: 1em;
}
.p-marker .marker_preview.-anim .c-marker.-bg {
	background-position: right bottom;
	background-size: 0 .5em;
	transition: background-size .4s;
}
.p-marker .marker_preview.-anim .c-marker.-bg:hover {
	background-position: left bottom;
	background-size: 100% .5em;
	transition-duration: .2s;
}
