@charset "utf-8";

/**
 * News
 * ---------------------------------------- */
.page-news {}


/* :::::: ブログの記事一覧 :::::: */
@media (hover: hover) {
    .p-bloglist .c-archivelist .container::before {
		content: "";
		z-index: -1;
        position: absolute;
		inset: -16px;
		border-radius: 8px;
		background: #86c0de29;
		transition: opacity .1s, transform .1s var(--easeOut);
	}
	.p-bloglist .c-archivelist .container:not(:hover)::before {
		opacity: 0;
		transform: scale(.96);
		transition-duration: .4s;
	}
}

/* :::::: ニュース一覧 :::::: */
@media (hover: hover) {
	.p-newslist .c-archivelist .container[href] {
		transition: background-size .4s var(--easeOut);
		background: linear-gradient(#86c0de1a, #86c0de1a) right bottom / 0 100% no-repeat;
	}
	.p-newslist .c-archivelist .container[href]:hover {
		background: linear-gradient(#86c0de1a, #86c0de1a) left bottom / 100% 100% no-repeat;
		transition-duration: .1s;
	}
}



