@charset "utf-8";

/**
 * プライバシーポリシー
 * ---------------------------------------- */
.p-privacypolicy {
	max-width: 800px;
	margin-top: 80px;
}
.privacypolicy_title {
	margin-bottom: 64px;
	color: inherit;
}
.p-privacypolicy p,
.p-privacypolicy li {
	text-align: justify;
	line-break: strict;
	overflow-wrap: break-word;
}
.p-privacypolicy a[href] {
	word-break: break-all;
}
.p-privacypolicy .c-lead {
	margin-top: 24px;
}
.p-privacypolicy h2 {
	margin-top: 40px;
}
.p-privacypolicy h3 {
	margin-top: 1em;
}
.p-privacypolicy p {
	margin-top: .5em;
}
