@charset "utf-8";

/**
 * Works
 * ---------------------------------------- */
.page-works {}






















/* :::::: Google マップ :::::: */
.page-works .p-map {
	width: 100%;
	height: 400px;
	margin-block: 24px;
	border-radius: 8px;
}
.page-works .api_section {
	margin-top: 64px;
}
.page-works .api_section .c-title {
	font-size: 24px;
}
