@charset "utf-8";

*,*::before,*::after{box-sizing:border-box;}
body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0;}
ul,ol{list-style:none;padding:0;}
a{color:inherit;text-decoration:inherit;text-decoration-skip-ink:auto;}
img,picture,video,iframe{display:inline-block;max-width:100%;}
img,svg,video,iframe{vertical-align:middle;}
img[height],video[height]{height:auto;}
input,button,textarea,select{font:inherit;}
button{border:0;padding:0;background:none;}
sub{vertical-align:baseline;}
@media(prefers-reduced-motion:reduce){*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important;}}
html {
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
}
html.is-behaviorAuto {
	scroll-behavior: auto;
}
body {
	overscroll-behavior: auto;
	color: #373039;
	font-size: 1em;
	line-height: 2;
	font-family: "Roboto", "Noto Sans JP", sans-serif;
	font-weight: 400;
	letter-spacing: .06em;
	font-feature-settings: "palt";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
body.is-fixed {
	position: fixed;
	width: 100%;
}
section[id] {
	scroll-margin-top: 72px;
}
@media screen and (max-width: 767px) {
	section[id] {
		scroll-margin-top: 64px;
	}
}
@media screen and (max-width: 479px) {
	body {
		font-size: .875em;
	}
}

:root {
	--themecolor: #86c0de;
	--easeIn: cubic-bezier(.3,0,.7,0);
	--easeOut: cubic-bezier(.3,1,.7,1);
	--easeInOut: cubic-bezier(.7,0,.3,1);
}

/**
 * prefix について
 * c- コンポーネント (使いまわせる)
 * - ハイフン始まりはコンポーネントのバリエーション
 * l- レイアウト (z-index の基礎として)
 * p- 固有のブロックスタイル (主に section に附帯)
 * no prefix コンポーネント内の要素 (title/lead/text/image/ico など)
 * js- js で拾うためのクラス (js-menuToggle/js-pullToggle など)
 * is- js で付与する要素の状態 (js-active/js-anim など)
 */
/**
 * mediaquery について
 * default style (desktop/mobile 共通の style)
 * @media print, (min-width: 480px) {} mobile には適用したくない style
 * @media print, (min-width: 768px) {} desktop だけの style
 * @media screen and (max-width: 767px) {} desktop には適用したくない style
 * @media screen and (max-width: 479px) {} mobile だけの style
 * @media screen and (max-width: 359px) {} small mobile style
 * MEMO: 
 * -------------------------------------------------- */
.l-header { z-index: 4; }
.l-drawer { z-index: 4; }
.l-main { z-index: 1; }
.l-footer { z-index: 2; }
.l-menu { z-index: 3; }


/**
 * header
 * ---------------------------------------- */
.l-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
@media print, (min-width: 768px) {
	.l-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 72px;
		padding: 16px 24px;
	}
}
@media screen and (max-width: 767px) {
	.l-header {
		position: absolute;
	}
}

/* :::::: logo :::::: */
.l-header .logo {
	display: grid;
	place-items: center;
	width: 40px;
	height: 40px;
	margin-right: auto;
	color: #593869;
	line-height: 1;
}
.l-header .logo .pan {
	width: 100%;
	height: auto;
	fill: none;
	stroke: currentcolor;
}
@media screen and (max-width: 767px) {
	.l-header .logo {
		position: fixed;
		top: 16px;
		left: 24px;
	}
}

/* :::::: menu :::::: */
.menu {
	letter-spacing: .24em;
	text-transform: uppercase;
}
.menu .ico {
	fill: currentcolor;
}
@media print, (min-width: 768px) {
	.l-header .menu {
		display: flex;
		height: 100%;
		font-size: 15px;
	}
	.l-header .menu:where(.-sns),
	.l-header .menu li {
		margin-left: 8px;
	}
	.l-header .menu a {
		display: flex;
		align-items: center;
		height: 100%;
	}
	.l-header .menu a[aria-current="page"] {
		font-weight: 700;
		background: linear-gradient(#86c0de68, #86c0de68) left .8em bottom .6em / calc(100% - 1.8em) .4em no-repeat;
	}
	.l-header .menu:where(.-nav) a {
		padding: 0 1em;
	}
	.l-header .menu:where(.-sns) a {
		display: grid;
		place-items: center;
		width: 40px;
		height: 40px;
	}
}
@media (hover: hover) {
	.menu a {
		transition: color .3s;
	}
	.menu a:hover {
		color: var(--themecolor);
		fill: currentcolor;
		transition-duration: .1s;
	}
}
@media screen and (max-width: 767px) {
	.l-header .menu {
		display: none;
	}
}

/* :::::: drawer :::::: */
@media print, (min-width: 768px) {
	.l-drawer {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.l-drawer {
		cursor: pointer;
		position: fixed;
		top: 16px;
		right: 24px;
		width: 40px;
		height: 40px;
		margin-left: 40px;
		color: inherit;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.l-drawer .bar {
		position: absolute;
		top: calc(50% - 2.5px);
		left: 4px;
		width: 32px;
		fill: none;
		stroke: currentcolor;
		stroke-width: 1.2;
		stroke-linecap: round;
	}
	.l-drawer .-b1 { transform: translateY(-8px); }
	.l-drawer .-b3 { transform: translateY(8px); }
	.l-drawer.is-anim .-b2 { transition: opacity .3s; }
	.l-drawer.is-active .-b1 { transform: rotate(30deg); }
	.l-drawer.is-active .-b2 { opacity: 0; }
	.l-drawer.is-active .-b3 { transform: rotate(-30deg); }
	.l-drawer.is-anim .bar { animation: .3s var(--easeOut); }
	.l-drawer.is-anim .-b1 { animation-name: toggleAnim1; }
	.l-drawer.is-anim .-b3 { animation-name: toggleAnim3; }
	.l-drawer.is-anim.is-active .-b1,
	.l-drawer.is-anim.is-active .-b3 {
		animation-direction: reverse;
		animation-timing-function: var(--easeIn);
	}
	@keyframes toggleAnim1 {
		from { transform: rotate(30deg); }
		50% { transform: none; }
		to { transform: translateY(-8px); }
	}
	@keyframes toggleAnim3 {
		from { transform: rotate(-30deg); }
		50% { transform: none; }
		to { transform: translateY(8px); }
	}
}


/**
 * main
 * ---------------------------------------- */
.l-main {
	--sideGap: 48px;
	min-height: calc(100vh - 356px);
	padding: 72px var(--sideGap) 0;
}
@media screen and (max-width: 767px) {
	.l-main {
		--sideGap: 32px;
	}
}
@media screen and (max-width: 479px) {
	.l-main {
		--sideGap: 24px;
	}
}

/* :::::: ヴィジュアル :::::: */
.p-visual {
	display: grid;
	align-items: center;
	position: relative;
	max-width: 960px;
	min-height: 200px;
	margin: 0 auto;
	border-image: linear-gradient(#86c0decf, #86c0decf) fill 0 / 0 / 0 50vw;
}
.p-visual .c-title {
	color: white;
	text-transform: uppercase;
}
.p-visual .bg {
	z-index: -1;
	position: absolute;
	overflow: hidden;
	inset: 0 calc(50% - 50vw);
}
.p-visual .bg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: blur(4px);
}

/* :::::: パンくず :::::: */
.c-crumb {
	display: flex;
	flex-wrap: wrap;
	gap: 8px .5em;
	max-width: 960px;
	margin: 16px auto;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
}
.c-crumb a {
	position: relative;
}
.c-crumb a + a {
	padding-left: 1em;
}
.c-crumb a + a::before {
	content: ">";
	position: absolute;
	top: calc(50% - .5em);
	left: 0;
	color: #c2c4ca;
}
@media screen and (max-width: 479px) {
	.c-crumb {
		font-size: 10px;
	}
}

/* :::::: セクション :::::: */
.l-section {
	max-width: 960px;
	margin: 160px auto;
	text-align: center;
}
.l-section:where(.-stickout) {
	max-width: none;
	margin-inline: calc(50% - 50vw);
}
@media screen and (max-width: 767px) {
	.l-section {
		margin-block: 120px;
	}
}
@media screen and (max-width: 479px) {
	.l-section {
		margin-block: 80px;
	}
}


/**
 * footer
 * ---------------------------------------- */
.l-footer {
	padding: 80px 48px 40px;
	color: white;
	background: #373039;
}
.l-footer .contentsinfo {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}
.l-footer .logo a {
	display: flex;
	align-items: flex-end;
	padding: 8px 4px;
}
.l-footer .logo .pan {
	width: 48px;
	height: auto;
	fill: none;
	stroke: currentcolor;
}
.l-footer .logo .madeby {
	margin-left: .5em;
	font-size: 16px;
	line-height: 1.4;
	font-family: 'Ubuntu Condensed', sans-serif;
	white-space: nowrap;
}
.l-footer .address {
	font-size: 14px;
	line-height: 1.6;
	white-space: nowrap;
}
.l-footer .menu {
	display: flex;
	flex-wrap: wrap;
	column-gap: 8px;
	margin: 8px 0 0;
}
.l-footer .menu a {
	padding: 8px;
}
.l-footer .menu a[aria-current="page"] {
	font-weight: 700;
	background: linear-gradient(#ffffff68, #ffffff68) left 6px bottom 8px / calc(100% - 14px) .4em no-repeat;
}
.l-footer .menu:where(.-other) {
	font-size: 14px;
}
.l-footer .copyright {
	margin-top: 40px;
	font-size: 12px;
	text-align: center;
}
.l-footer .copyright small {
	font-size: inherit;
}
@media print, (min-width: 768px) {
	.l-footer .contentsinfo {
		display: grid;
		grid-template: 64px auto auto / auto min-content;
		justify-content: space-between;
	}
	.l-footer .logo {
		grid-area: 1 / 1 / 2 / 2;
	}
	.l-footer .menu:where(.-nav) {
		grid-area: 2 / 1 / 3 / 2;
	}
	.l-footer .menu:where(.-other) {
		grid-area: 3 / 1 / 4 / 2;
	}
	.l-footer .menu:where(.-sns) {
		grid-area: 4 / 1 / 5 / 2;
	}
	.l-footer .address {
		grid-area: 1 / 2 / 5 / 3;
		align-self: flex-end;
	}
}
@media screen and (max-width: 767px) {
	.l-footer {
		padding: 48px 32px 24px;
	}
	.l-footer .contentsinfo {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.l-footer .menu {
		justify-content: center;
	}
	.l-footer .menu:where(.-nav),
	.l-footer .address {
		margin-top: 24px;
	}
}
@media screen and (max-width: 479px) {
	.l-footer {
		padding-inline: 24px;
	}
	.l-footer .menu:where(.-sns) a {
		padding: 8px 4px;
	}
	.l-footer .menu a[aria-current="page"] {
		background-position: left 2px bottom 8px;
		background-size: calc(100% - 2px) .4em;
	}
}

/* :::::: pagetop :::::: */
.pagetop {
	display: inline-grid;
	place-items: center;
	width: 48px;
	height: 48px;
	padding: 8px;
}
.pagetop .ico {
	fill: none;
	stroke: currentcolor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.l-footer .pagetop {
	position: absolute;
	right: 0;
	top: -64px;
}
@media (hover: hover) {
	.pagetop .ico {
		transform-origin: 50% 80%;
		transition: transform .4s var(--easeOut);
	}
	.pagetop:hover .ico {
		transform: scaleY(1.2);
		transition-duration: .1s;
	}
}
@media screen and (max-width: 767px) {
	.l-footer .pagetop {
		top: -32px;
	}
}


/**
 * menu
 * ---------------------------------------- */
@media print, (min-width: 768px) {
	.l-menu {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.l-menu,
	.l-menu .overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.l-menu {
		display: grid;
		place-items: center;
	}
	.l-menu .overlay {
		background: #86c0deee;
		opacity: .9;
	}
	.l-menu .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		overflow: auto;
		width: 300px;
		max-height: 100%;
		padding: 40px 40px 24px;
		border-radius: 8px;
		text-align: center;
		background: white;
	}
	.l-menu .menu:where(.-nav) {
		font-size: 20px;
	}
	.l-menu .menu:where(.-sns) {
		margin-top: 24px;
		display: flex;
	}
	.l-menu .menu:where(.-nav) li:nth-child(n+2) {
		margin-top: 8px;
	}
	.l-menu .menu:where(.-sns) li:nth-child(n+2) {
		margin-left: 16px;
	}
	.l-menu .menu a {
		display: inline-block;
		padding: .3em 1em;
	}
	.l-menu .menu:where(.-sns) a {
		padding: .5em;
	}
	.l-menu .menu a[aria-current="page"] {
		font-weight: 700;
		background: linear-gradient(#86c0de68, #86c0de68) left .8em bottom .6em / calc(100% - 1.8em) .4em no-repeat;
	}
	.l-menu .menu:where(.-sns) .ico {
		width: 28px;
		height: auto;
	}
	/* effect */
	.l-menu:not(.is-active) { pointer-events: none; }
	.l-menu .overlay:not(.is-active),
	.l-menu:not(.is-active) .container { opacity: 0; }
	/* 開くまえ縮小から、閉じたあと拡大へ */
	.l-menu:not(.is-active) .container { transform: scale(.92); }
	.l-menu.is-anim:not(.is-active) .container { transform: scale(1.04); }
	
	.l-menu .overlay.is-anim,
	.l-menu.is-anim .container {
		transition: opacity .6s, transform .6s var(--easeOut);
	}
	/* 開く時 container ちょっと遅れて表示 */
	.l-menu.is-anim.is-active .container { transition-delay: .2s; }
	.l-menu .overlay.is-anim.is-active { transition-duration: .3s; }
	.l-menu.is-anim:not(.is-active) .container { transition-duration: .3s; }
	.l-menu .overlay.is-anim:not(.is-active) { transition-delay: .2s; }
	.l-menu .pagetop {
		margin-top: 24px;
	}
}


/**
 * utility / javascript
 * -------------------------------------------------- */
.u-visuallyhidden {
	position: absolute;
	top: 0;
	left: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.u-breakall {
	word-break: break-all;
}
.u-mt0 { margin-top: 0 !important; }
.u-mt1 { margin-top: 8px !important; }
.u-mt2 { margin-top: 16px !important; }
.u-mt3 { margin-top: 24px !important; }
.u-mt4 { margin-top: 32px !important; }
.u-mt5 { margin-top: 40px !important; }
.u-mt6 { margin-top: 48px !important; }
.u-mt7 { margin-top: 56px !important; }
.u-mt8 { margin-top: 64px !important; }
.u-mt9 { margin-top: 72px !important; }
.u-mt10 { margin-top: 80px !important; }

@media print, (min-width: 768px) {
	.u-mb { display: none; }
}
@media screen and (max-width: 767px) {
	.u-dt { display: none; }
}

/* transformScroll */
.js-sc-wrap {
	overflow: hidden;
}
.js-fixed {
	position: fixed;
	width: 100%;
}
.js-fixed,
.js-sc-slip {
	backface-visibility: hidden;
	will-change: transform;
}
.js-sc-dummy {
	z-index: -1;
	pointer-events: none;
}

/* slider */
.js-slider.flickity-enabled:focus-visible,
.js-slider .flickity-button:focus-visible {
	outline: 2px solid #275dc5;
	box-shadow: 0 0 0 3px white;
}
.js-slider.flickity-enabled:focus-visible {
	border-radius: 2px;
}

/* inview */
.js-inview:not(.is-inview) {
	opacity: 0;
	transform: translateY(24px);
}
.js-inview.is-anim {
	transition: opacity .6s, transform .6s var(--easeOut);
}
/* variation */
.js-inview.c-pop:not(.is-inview) {
	opacity: 0;
	transform: scale(.2);
}
.js-inview.c-pop.is-anim {
	animation: pop 1s;
	transition: opacity .3s;
}
@keyframes pop {
	from { transform: scale(.2); }
	20% { transform: scale(1.4); }
	40% { transform: scale(.9); }
	60% { transform: scale(1.1); }
	80% { transform: scale(.96); }
	to { transform: none; }
}

/* lazy */
img[data-src]:not(.is-loaded) {
	opacity: 0;
}
img.is-anim {
	transition: opacity .6s;
}