@charset "utf-8";

/**
 * タイトル
 * ---------------------------------------- */
.c-title {
	font-size: 32px;
	line-height: 1.4;
	font-weight: 700;
	letter-spacing: .12em;
}
.c-title small {
	font-size: max(64%, 10px);
}
.c-title:where(.-xl) { font-size: 48px; }
.c-title:where(.-l) { font-size: 40px; }
.c-title:where(.-s) { font-size: 24px; }
.c-title:where(.-xs) { font-size: 20px; }
.c-title.-upper {
	text-transform: uppercase;
}
@media screen and (max-width: 767px) {
	.c-title {
		font-size: 28px;
	}
	.c-title:where(.-xl) { font-size: 40px; }
	.c-title:where(.-l) { font-size: 32px; }
	.c-title:where(.-s) { font-size: 20px; }
	.c-title:where(.-xs) { font-size: 18px; }
}
@media screen and (max-width: 479px) {
	.c-title {
		font-size: 24px;
	}
	.c-title:where(.-xl) { font-size: 32px; }
	.c-title:where(.-l) { font-size: 28px; }
	.c-title:where(.-s) { font-size: 18px; }
	.c-title:where(.-xs) { font-size: 16px; }
}

/* :::::: - タイトル :::::: */
.c-title:where(.-hyphen) {
	padding-left: 1em;
	text-indent: -1em;
	text-align: left;
}
.c-title:where(.-hyphen)::before {
	content: "";
	display: inline-block;
	position: relative;
	top: -.1em;
	width: .5em;
	border-top: .12em solid var(--themecolor);
	margin-right: .5em;
	vertical-align: middle;
}

/** :::::: | タイトル :::::: */
.c-title:where(.-bar) {
	position: relative;
	padding-left: 1em;
	text-align: left;
}
.c-title.-bar::before {
	content: "";
	position: absolute;
	top: .1em;
	bottom: .1em;
	left: 0;
	border-left: .3em solid var(--themecolor);
}

/** :::::: | タイトル | :::::: */
.c-title:where(.-sand),
.c-title:where(.-pop) {
	position: relative;
	width: fit-content;
	margin: 0 auto;
	padding-inline: 1em;
	color: var(--themecolor);
	text-align: center;
}
.c-title:where(.-sand)::before,
.c-title:where(.-sand)::after,
.c-title:where(.-pop)::before,
.c-title:where(.-pop)::after {
	content: "";
	position: absolute;
	top: .2em;
	bottom: .2em;
}
.c-title:where(.-sand)::before,
.c-title:where(.-pop)::before {
	left: 0;
	border-left: 1px solid currentcolor;
}
.c-title:where(.-sand)::after ,
.c-title:where(.-pop)::after {
	right: 0;
	border-right: 1px solid currentcolor;
}

/** :::::: \ タイトル / :::::: */
.c-title:where(.-pop)::before {
	transform: rotate(-30deg);
}
.c-title:where(.-pop)::after {
	transform: rotate(30deg);
}


/**
 * リード文
 * ---------------------------------------- */
.c-lead {
	margin-top: 24px;
	font-size: 18px;
	text-align: left;
}
.c-lead:where(.-c) {
	text-align: center;
}
@media screen and (max-width: 767px) {
	.c-lead {
		font-size: 16px;
	}
}
@media screen and (max-width: 479px) {
	.c-lead {
		font-size: 15px;
	}
}


/**
 * マーカーライン
 * ---------------------------------------- */
.c-marker.-deco {
	text-decoration: underline;
	text-decoration-color: var(--themecolor);
	text-underline-offset: -.3em;
	text-decoration-thickness: .6em;
}
.c-marker.-border {
	display: inline-block;
	border-image: linear-gradient(var(--themecolor), var(--themecolor)) 0 fill / 1em 0 .4em;
}
.c-marker.-bg {
	display: inline;
	background: linear-gradient(var(--themecolor), var(--themecolor)) left bottom / 100% .6em no-repeat;
}


/**
 * ボタン
 * ---------------------------------------- */
.c-button,
.c-more {
	cursor: pointer;
	display: inline-grid;
	place-items: center;
	position: relative;
	width: 100%;
	max-width: 320px;
	min-height: 64px;
	padding: .5em 1.5em;
	border: 2px solid var(--themecolor);
	border-radius: 8px;
	color: white;
	line-height: 1.6;
	font-weight: 500;
	white-space: nowrap;
	letter-spacing: inherit;
	background: var(--themecolor);
}
.c-button .arr,
.c-more .arr {
	position: absolute;
	top: calc(50% - .5em);
	right: 16px;
	width: 1em;
	height: 1em;
	fill: none;
	stroke: currentcolor;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}
@media (hover: hover) {
	.c-button,
	.c-more {
		transition: border-color .4s, color .4s, background .4s;
	}
	.c-button:hover,
	.c-more:hover {
		color: var(--themecolor);
		background: white;
		transition-duration: .05s;
	}
	.c-button .arr,
	.c-more .arr {
		transition: transform .4s var(--easeOut);
	}
	.c-button:hover .arr,
	.c-more:hover .arr {
		transform: translateX(4px);
		transition-duration: .1s;
	}
}
/* 状態 */
button.c-button:disabled,
input.c-button:disabled {
	pointer-events: none;
	border-color: #dadcde;
	color: #eeeff1;
	background: #dadcde;
}
/* サイズ */
.c-button:where(.-xl) {
	max-width: none;
	min-height: 96px;
}
.c-button:where(.-l) {
	max-width: 400px;
	min-height: 72px;
}
.c-button:where(.-s) {
	max-width: 240px;
	min-height: 56px;
}
.c-button:where(.-xs) {
	width: fit-content;
	min-height: 0;
}

/* :::::: もっとみる :::::: */
.c-more {
	max-width: 160px;
	min-height: 32px;
	padding: .5em 1.5em;
}
.c-more .arr {
	top: calc(50% - .4em);
	right: 8px;
	width: .8em;
	height: .8em;
}

/* :::::: バルーンボタン :::::: */
.c-button:where(.-balloon) {
	width: 10em;
	height: 10em;
	margin: 2em auto;
	border-radius: 10em;
	text-align: center;
}

/* :::::: タグ :::::: */
.c-tag {
	display: inline-block;
	padding: 2px 8px;
	border: 1px solid var(--themecolor);
	border-radius: 4px;
	color: white;
	line-height: 1.2;
	background: var(--themecolor);
}
.c-tag[href] {
	position: relative;
}
@media (hover: hover) {
	.c-tag[href] {
		transition: color .4s, background .4s;
	}
	.c-tag[href]:hover {
		color: var(--themecolor);
		background: white;
		transition-duration: .1s;
	}
}

/* :::::: いいね :::::: */
.c-likebutton {
	cursor: pointer;
	position: relative;
	fill: white;
}
.c-likebutton .ico {
	width: 1.2em;
	height: auto;
	fill: inherit;
	stroke: var(--themecolor);
	stroke-width: 2;
	stroke-linejoin: round;
}
@media (hover: hover) {
	.c-likebutton {
		transition: fill .4s;
	}
	.c-likebutton:hover {
		fill: var(--themecolor);
		transition-duration: .1s;
	}
}

/* :::::: リンク :::::: */
.c-link {
	display: inline-flex;
	align-items: center;
	column-gap: .5em;
	color: #39c;
	font-weight: 700;
}
.c-link .arr {
	width: 1em;
	height: 1em;
	fill: none;
	stroke: currentcolor;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}
@media (hover: hover) {
	.c-link .arr {
		transition: transform .4s var(--easeOut);
	}
	.c-link:hover .arr,
	a:hover .c-link .arr {
		transform: translateX(4px);
		transition-duration: .1s;
	}
}

/* :::::: テキストリンク :::::: */
.c-textlink {
	color: #39c;
	line-height: 1.4;
	background: linear-gradient(currentcolor, currentcolor) left bottom / 100% 1px no-repeat;
}
@media (hover: hover) {
	.c-textlink {
		transition: background-size .4s cubic-bezier(.2,.6,.4,1);
	}
	.c-textlink:hover {
		background-position: right bottom;
		background-size: 0 1px;
	}
}

/* :::::: シェアする :::::: */
.c-share {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 8px;
	width: fit-content;
	margin-top: 64px;
	padding-block: 16px;
	text-align: center;
}
.c-share dt {
	flex-basis: 100%;
	font-size: 14px;
	line-height: 1.4;
}
.c-share dt span {
	display: inline-block;
	position: relative;
}
.c-share dt span::before,
.c-share dt span::after {
	content: "";
	position: absolute;
	bottom: 0;
	height: 1em;
}
.c-share dt span::before {
	left: -.5em;
	border-left: 1px solid currentcolor;
	transform: rotate(-30deg);
}
.c-share dt span::after {
	right: -.5em;
	border-right: 1px solid currentcolor;
	transform: rotate(30deg);
}
.c-share dd {
	grid-row: 2 / 3;
}
.c-share a,
.c-share button {
	display: grid;
	place-items: center;
	width: 40px;
	height: 40px;
}
@media (hover: hover) {
	.c-share a,
	.c-share button {
		transition: opacity .4s;
	}
	.c-share a:hover,
	.c-share button:hover {
		opacity: .6;
		transition-duration: .1s;
	}
}
@media print, (min-width: 480px) {
	.c-share {
		column-gap: 8px;
	}
}

/* :::::: URL Copy :::::: */
.js-copy {
	cursor: pointer;
	position: relative;
}
.js-copy .ico {
	pointer-events: none;
	color: inherit;
}
.js-copy.is-copyed {
	pointer-events: none;
}
.js-copy.is-copyed .copy_msg {
	display: grid;
	place-items: center;
	z-index: 1;
	position: absolute;
	bottom: calc(100% + 4px);
	left: 50%;
	max-width: 14em;
	min-height: 2.4em;
	padding: .5em 1em;
	border-radius: 4px;
	color: #373039;
	font-size: 10px;
	line-height: 1.4;
	white-space: nowrap;
	opacity: 0;
	background: #eeeff1;
	transform: translateX(-50%);
}
@-moz-document url-prefix() {
	.js-copy.is-copyed .copy_msg {
		white-space: normal;
	}
}
.js-copy.is-copyed .copy_msg::after {
	content: "";
	position: absolute;
	top: calc(100% - 1px);
	left: calc(50% - 4px);
	border-width: 8px 4px 0;
	border-style: solid;
	border-color: #fff0;
	border-top-color: #eeeff1;
}
.js-copy.is-copyed .copy_msg {
	animation: copyed 2s;
}
@keyframes copyed {
	from, to { opacity: 0; }
	10%, 80% { opacity: 1; }
}


/**
 * 一覧
 * ---------------------------------------- */
.c-list li {
	padding-left: 1em;
	line-height: 1.6;
	text-indent: -1em;
}
.c-list li + li {
	margin-top: .5em;
}
.c-list li * {
	text-indent: 0;
}
.c-list li::before {
	content: "";
	display: inline-block;
	position: relative;
	top: -.1em;
	width: .4em;
	height: .4em;
	margin-right: .6em;
	border-radius: .4em;
	text-indent: 0;
	background: var(--themecolor);
}

/* :::::: 番号付き一覧 (ol) :::::: */
.c-numlist li {
	counter-increment: num;
	padding-left: 1.6em;
	line-height: 1.6;
	text-indent: -1.6em;
}
.c-numlist li + li {
	margin-top: .5em;
}
.c-numlist li * {
	text-indent: 0;
}
.c-numlist li::before {
	content: counter(num)".";
	display: inline-block;
	width: 1em;
	margin-right: .6em;
	color: currentcolor;
	font-weight: 700;
	text-indent: 0;
}

/* :::::: 説明付き一覧 (dl) :::::: */
.c-datalist {
	text-align: left;
}
.c-datalist dt {
	font-weight: 700;
}
.c-datalist dt::before {
	content: "";
	display: inline-block;
	width: .4em;
	margin-right: .6em;
	border-top: .2em solid var(--themecolor);
	vertical-align: middle;
}
.c-datalist dd + dt {
	margin-top: 1em;
}
.c-datalist dd {
	padding-left: 1em;
}
.c-datalist dd + dd {
	margin-top: .5em;
}

/* :::::: 表組みリスト (dl) :::::: */
.c-tablelist {
	--borderWidth: 3px;
	--borderColor: #eeeff1;
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.c-tablelist > .row {
	display: table-row;
	border-block: 3px dotted var(--borderColor);
}
.c-tablelist > .row > dt,
.c-tablelist > .row > dd {
	display: table-cell;
	padding: 1em;
	line-height: 1.6;
}
.c-tablelist > .row > dt {
	font-weight: 700;
	white-space: nowrap;
}
.c-tablelist > .row > dd {
	border-left: 3px dotted transparent;
}
.c-tablelist > .row > dd > :first-child {
	margin-top: 0;
}
.c-tablelist > .row > dd > :last-child {
	margin-bottom: 0;
}
.c-tablelist ruby rp,
.c-tablelist ruby rt {
	display: inline;
	font-size: smaller;
}

/* :::::: グリッド組みリスト (dl) :::::: */
.c-gridlist {
	--borderWidth: 3px;
	--borderColor: #eeeff1;
	display: grid;
	grid-template-columns: auto 1fr;
	border-bottom: var(--borderWidth) dotted var(--borderColor);
	text-align: left;
}
.c-gridlist > dt,
.c-gridlist > dd {
	border-top: var(--borderWidth) dotted var(--borderColor);
	padding: 1em;
	line-height: 1.6;
}
.c-gridlist > dt {
	grid-column: 1;
	font-weight: 700;
	white-space: nowrap;
}
.c-gridlist > dd {
	grid-column: 2;
	margin-left: var(--borderWidth);
}
.c-gridlist > dd > :first-child {
	margin-top: 0;
}
.c-gridlist > dd > :last-child {
	margin-bottom: 0;
}


/**
 * よくあるご質問
 * ---------------------------------------- */
.c-faq {
	list-style: inside;
	font-size: 16px;
	text-align: left;
}
.c-faq .faq_item {
	counter-increment: num;
	border-bottom: 1px solid #dadcde;
}
.c-faq .faq_item:first-child {
	border-top: 1px solid #dadcde;
}
.c-faq .faq_q,
.c-faq .faq_a {
	position: relative;
	padding: 24px 40px;
	padding-left: calc(2.9em + 16px);
	text-indent: -2.9em;
}
.c-faq .faq_q {
	color: var(--themecolor);
	font-size: 18px;
	line-height: 1.6;
	font-weight: 700;
	background: #fafafd;
}
.c-faq .faq_a {
	padding-top: 16px;
}
.c-faq .faq_item:nth-child(n+10) .faq_q,
.c-faq .faq_item:nth-child(n+10) .faq_a {
	padding-left: calc(3.8em + 16px);
	text-indent: -3.8em;
}
.c-faq .faq_q::before,
.c-faq .faq_a::before {
	content: "Q" counter(num) ". ";
	color: var(--themecolor);
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
}
.c-faq .faq_a::before {
	content: "A" counter(num) ". ";
	top: 16px;
	color: #c2c4ca;
}
.c-faq .faq_q .ico {
	position: absolute;
	top: calc(50% - 8px);
	right: 16px;
	width: 16px;
	height: 16px;
	stroke: var(--themecolor);
	stroke-width: 3;
}
@media screen and (max-width: 479px) {
	.c-faq .faq_q,
	.c-faq .faq_a {
		padding: 16px 24px;
		padding-left: calc(2.5em + 8px);
		text-indent: -2.5em;
	}
	.c-faq .faq_q {
		font-size: 16px;
	}
	.c-faq .faq_a {
		font-size: 14px;
	}
	.c-faq .faq_q::before,
	.c-faq .faq_a::before {
		font-size: 20px;
	}
	.c-faq .faq_q .ico {
		right: 8px;
	}
}


/**
 * アーカイブリスト
 * ---------------------------------------- */
.c-archivelist {
	display: flex;
	flex-wrap: wrap;
	gap: 48px;
}
.c-archivelist .archive_item {
	flex-basis: calc(33.333% - 48px * 2 / 3);
	flex-grow: 0;
	position: relative;
}
.c-archivelist .container {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}
.c-archivelist .image {
	order: -1;
}
.c-archivelist .image img {
	width: 100%;
	border-radius: 8px;
	aspect-ratio: 16 / 9;
	object-fit: cover;
}
.c-archivelist .text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
	margin-block: 0;
	padding: 0 8px;
	font-size: 14px;
	line-height: 1.6;
	text-align: left;
}
.c-archivelist .text * {
	margin: 0;
}
/* タイトル */
.c-archivelist .title {
	width: 100%;
	font-size: 15px;
	line-height: 1.6;
	font-weight: 700;
}
/* 概要文 */
.c-archivelist .summary {
	font-size: 14px;
	line-height: 1.6;
	text-align: justify;
	line-break: strict;
	word-break: break-all;
	overflow-wrap: break-word;
}
/* 日付・値段・タグ一覧 */
.c-archivelist .date,
.c-archivelist .price {
	color: #92939c;
}
.c-archivelist .date,
.c-archivelist .tags {
	font-size: 12px;
	line-height: 1.2;
}
.c-archivelist .tags {
	flex-basis: 100%;
	display: flex;
	flex-wrap : wrap;
	gap: 4px;
}
/* 著者 */
.c-archivelist .author {
	display: flex;
	align-items: center;
	column-gap: 8px;
	font-size: 12px;
}
.c-archivelist .author .ico img {
	width: 2em;
	height: 2em;
	border-radius: 2em;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}
/* リンクボタン */
.c-archivelist .link {
	flex-basis: 100%;
	flex-grow: 1;
	justify-self: flex-end;
	text-align: center;
}
/* いいねボタン */
.c-archivelist .like {
	flex-grow: 0;
	justify-self: flex-end;
}
/* 他にリンクを置きたい時 */
.c-archivelist .wraplink {
	position: absolute;
	inset: 0;
}
@media (hover: hover) {
	.c-archivelist .container[href] .c-button,
	.c-archivelist .wraplink ~ .text .c-button,
	.c-archivelist .container[href] .c-more,
	.c-archivelist .wraplink ~ .text .c-more {
		transition: color .4s, background .4s;
	}
	.c-archivelist .container[href]:hover .c-button,
	.c-archivelist .wraplink:hover ~ .text .c-button,
	.c-archivelist .container[href]:hover .c-more,
	.c-archivelist .wraplink:hover ~ .text .c-more {
		color: var(--themecolor);
		background: white;
		transition-duration: .1s;
	}
}
@media screen and (max-width: 767px) {
	.c-archivelist {
		gap: 32px;
	}
	.c-archivelist .archive_item {
		flex-basis: calc(50% - 16px);
	}
}
@media screen and (max-width: 479px) {
	.c-archivelist .archive_item {
		flex-basis: 100%;
	}
}

/* :::::: バー型レイアウト :::::: */
.c-archivelist:where(.-bar) {
	gap: 0;
}
.c-archivelist:where(.-bar) .archive_item {
	border-top: 1px solid #eeeff1;
}
.c-archivelist:where(.-bar) .container {
	padding: 16px 40px 16px 16px;
}
.c-archivelist:where(.-bar) .archive_item:last-child {
	border-bottom: 1px solid #eeeff1;
}
.c-archivelist:where(.-bar) .arr {
	position: absolute;
	top: calc(50% - 8px);
	right: 16px;
	width: 16px;
	height: auto;
	fill: none;
	stroke: var(--themecolor);
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}
@media print, (min-width: 480px) {
	.c-archivelist:where(.-bar) {
		flex-direction: column;
	}
	.c-archivelist:where(.-bar) .archive_item {
		position: relative;
	}
	.c-archivelist:where(.-bar) .container {
		flex-direction: row;
		gap: 24px;
	}
	.c-archivelist:where(.-bar) .image {
		flex-basis: 120px;
		flex-shrink: 0;
	}
	.c-archivelist:where(.-bar) .text {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	.c-archivelist:where(.-bar) .title {
		font-size: 14px;
	}
	.c-archivelist:where(.-bar) .tags,
	.c-archivelist:where(.-bar) .link {
		flex-basis: auto;
	}
}
@media print, (min-width: 768px) {
	.c-archivelist:where(.-bar) .image {
		flex-basis: 160px;
	}
	.c-archivelist:where(.-bar) .title {
		margin-top: .2em;
		font-size: 16px;
	}
}
@media (hover: hover) {
	.c-archivelist:where(.-bar) .container[href] {
		background: #86c0de00;
		transition: background .4s var(--easeOut);
	}
	.c-archivelist:where(.-bar) .container[href]:hover {
		background: #86c0de1a;
		transition-duration: .1s;
	}
	.c-archivelist:where(.-bar) .container[href] .arr {
		transition: transform .4s var(--easeOut);
	}
	.c-archivelist:where(.-bar) .container[href]:hover .arr {
		transform: translateX(4px);
		transition-duration: .1s;
	}
}
@media screen and (max-width: 479px) {
	.c-archivelist:where(.-bar) {
		margin-inline: calc(var(--sideGap) * -1);
	}
	.c-archivelist:where(.-bar) .container {
		flex-direction: column;
		gap: 16px;
		padding-inline: var(--sideGap);
	}
	.c-archivelist:where(.-bar) .text {
		position: relative;
		padding: 0 var(--sideGap) 0 8px;
	}
	.c-archivelist:where(.-bar) .title {
		flex-basis: 100%;
	}
	.c-archivelist:where(.-bar) .arr {
		right: 0;
	}
}
@media screen and (max-width: 359px) {
	.c-archivelist:where(.-bar) .container {
		gap: 12px;
	}
}

/* :::::: スライダー (Flickity) にした時 :::::: */
.c-archivelist.js-slider {
	display: block;
}
.c-archivelist.js-slider[data-dots] {
	padding-bottom: 32px;
}
.c-archivelist.js-slider .archive_item {
	width: 300px;
	margin-right: 32px;
}
.c-archivelist.js-slider .archive_item .text {
	flex-grow: 1;
}
@media screen and (max-width: 767px) {
	.c-archivelist.js-slider .archive_item {
		margin-right: 24px;
	}
}
@media screen and (max-width: 479px) {
	.c-archivelist.js-slider .archive_item {
		margin-right: 16px;
	}
}
@media screen and (max-width: 359px) {
	.c-archivelist.js-slider .archive_item {
		width: 240px;
	}
}
/* Flickity */
.c-archivelist .flickity-viewport {
	margin-inline: calc(var(--sideGap) * -1);
}
.c-archivelist .flickity-slider {
	width: calc(100% - var(--sideGap) * 2);
	margin-left: var(--sideGap);
}
.c-archivelist .flickity-page-dots {
	bottom: 0;
}
.c-archivelist .flickity-page-dots .dot {
	background: var(--themecolor);
}
/* タッチデバイス以外は矢印ボタンと両端グラデーション */
html.is-touch .c-archivelist .flickity-prev-next-button,
html.is-touch .c-archivelist .flickity-viewport::before,
html.is-touch .c-archivelist .flickity-viewport::after {
	display: none;
}
.c-archivelist .flickity-viewport::before,
.c-archivelist .flickity-viewport::after {
	content: "";
	z-index: 1;
	pointer-events: none;
	position: absolute;
	width: var(--sideGap);
	top: 0;
	bottom: 0;
}
.c-archivelist .flickity-viewport::before {
	left: 0;
	background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,.1) 20%, white);
}
.c-archivelist .flickity-viewport::after {
	right: 0;
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,.1) 20%, white);
}
.c-archivelist .flickity-prev-next-button {
	z-index: 2;
	width: 48px;
	height: 48px;
	top: 100px;
	background: white;
	transition: opacity .1s, box-shadow .1s;
}
.c-archivelist .flickity-prev-next-button.previous { left: -24px; }
.c-archivelist .flickity-prev-next-button.next { right: -24px; }
.c-archivelist .flickity-button:disabled {
	opacity: .2;
	transition-duration: .4s;
}
.c-archivelist .flickity-button:not(:disabled) {
	box-shadow: 0 2px 8px #3730391a;
}
.c-archivelist .flickity-prev-next-button .flickity-button-icon {
	top: 25%;
	width: 50%;
	height: 50%;
	fill: none;
	stroke: var(--themecolor);
	stroke-width: 12;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.c-archivelist .previous .flickity-button-icon { left: 24%; }
.c-archivelist .next .flickity-button-icon { left: 26%; }
@media screen and (max-width: 479px) {
	.c-archivelist .flickity-prev-next-button {
		width: 32px;
		height: 32px;
	}
	.c-archivelist .flickity-prev-next-button.previous { left: -16px; }
	.c-archivelist .flickity-prev-next-button.next { right: -16px; }
}
@media screen and (max-width: 359px) {
	.c-archivelist .flickity-prev-next-button {
		top: 80px;
	}
}
@media print, (min-width: 1104px) {
	/* MEMO: セクション幅 960px + 矢印ボタンのズレ 72px * 2 = 1104px */
	.c-archivelist .flickity-viewport {
		margin-inline: var(--breakout);
	}
	.c-archivelist .flickity-slider {
		width: calc(100% - (100vw - 480px * 2));
		margin-left: calc(50vw - 480px);
	}
	.c-archivelist .flickity-viewport::before,
	.c-archivelist .flickity-viewport::after {
		width: calc(50vw - 480px);
	}
	.c-archivelist .flickity-viewport::before {
		left: var(--breakout);
	}
	.c-archivelist .flickity-viewport::after {
		right: var(--breakout);
	}
	.c-archivelist .flickity-prev-next-button.previous { left: -64px; }
	.c-archivelist .flickity-prev-next-button.next { right: -64px; }
}


/**
 * プルメニュー
 * ---------------------------------------- */
.c-pullmenu {
	display: flex;
	z-index: 2;
	position: relative;
	max-width: 100%;
}
.c-pullmenu li {
	white-space: nowrap;
	flex-grow: 1;
	text-align: center;
}
.c-pullmenu a,
.c-pullmenu button {
	display: block;
	width: 100%;
	padding: .5em 2em;
	background: #fafafd;
	text-align: inherit;
}
.c-pullmenu a:focus,
.c-pullmenu button:focus {
	z-index: 1;
	position: relative;
}
.c-pullmenu .parent {
	position: relative;
}
.c-pullmenu .children {
	z-index: 1;
	position: absolute;
	margin: 0;
}
/* 矢印アイコン */
.c-pullmenu .parent button {
	position: relative;
}
.c-pullmenu .parent button::after {
	content: "";
	z-index: 1;
	width: .6em;
	height: .6em;
	fill: none;
	stroke: currentcolor;
	background: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%3E%3Cpath%20d%3D%22M22%2C6l-10%2C12L2%2C6%22%2F%3E%3C%2Fsvg%3E") center / contain no-repeat;
	/* <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M22,6l-10,12L2,6"/></svg> */
	transition: transform .4s var(--easeOut);
}
.c-pullmenu .parent button:hover::after,
.c-pullmenu .parent button:focus-within::after,
.c-pullmenu button:has(~ .children :hover)::after,
.c-pullmenu button:has(~ .children :focus-within)::after {
	transform: translateY(.3em);
	transition-duration: .1s;
}
.c-pullmenu button:focus-within,
.c-pullmenu button:has(~ .children :focus-within) {
	background: #eeeff1;
}
@media (hover: hover) {
	.c-pullmenu a:hover {
		color: white;
		background: var(--themecolor);
	}
	.c-pullmenu button:hover,
	.c-pullmenu button:has(~ .children :hover) {
		background: #eeeff1;
	}
}
@media print, (min-width: 768px) {
	/* 768px 以上はメニュー下にプルダウン */
	.c-pullmenu .parent button::after {
		position: absolute;
		top: calc(50% - .3em);
		right: 1em;
	}
	.c-pullmenu .parent .parent button::after {
		rotate: -90deg;
	}
	.c-pullmenu .children {
		min-width: 100%;
		margin: 0;
		transition: clip-path .4s var(--easeOut);
	}
	.c-pullmenu .children li {
		text-align: left;
	}
	/* 子 */
	.c-pullmenu .parent > .children {
		top: 100%;
		left: 0;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	.c-pullmenu .parent:hover > .children,
	.c-pullmenu .parent:focus-within > .children {
		clip-path: polygon(0 0, 300% 0, 300% 100%, 0 100%);
		transition-duration: .1s;
	}
	.c-pullmenu .children:has(> .parent:hover),
	.c-pullmenu .children:has(> .parent:focus-within) {
		clip-path: polygon(0 0, 300% 0, 300% 300%, 0 300%);
	}
	/* 孫 */
	.c-pullmenu .parent .parent > .children {
		top: 0;
		left: 100%;
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	}
	.c-pullmenu .parent .parent:hover > .children,
	.c-pullmenu .parent .parent:focus-within > .children {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		transition-duration: .1s;
	}
}
@media screen and (max-width: 767px) {
	/* 768px 未満はメニューに重なってプルダウン */
	.c-pullmenu {
		flex-direction: column;
	}
	.c-pullmenu li {
		text-align: left;
	}
	.c-pullmenu .parent button::after {
		display: inline-block;
		margin-left: 1em;
	}
	.c-pullmenu .children {
		top: 100%;
		left: 3em;
		box-shadow: 0 4px 8px rgba(0,0,0,.1);
		transition: opacity .4s, transform .4s var(--easeOut);
	}
	.c-pullmenu .parent:not(:hover):not(:focus-within) > .children {
		pointer-events: none;
		opacity: 0;
		transform: translateY(-4px);
	}
	.c-pullmenu .parent:hover > .children,
	.c-pullmenu .parent:focus-within > .children {
		transition-duration: .1s;
	}
}


/**
 * スクロールカルーセル
 * ---------------------------------------- */
.js-carousel {
	--cellWidth: 400px;
	--sideSpace: 0px;
	position: relative;
	max-width: var(--cellWidth);
	margin-inline: auto;
}
@media screen and (max-width: 479px) {
	.js-carousel {
		--cellWidth: calc(100vw - 48px);
	}
}
.carousel_container {
	scroll-behavior: smooth;
	overscroll-behavior: contain auto;
	overflow: hidden;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}
.carousel_container::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.carousel_reel {
	display: flex;
	flex-wrap: nowrap;
	column-gap: 0;
	margin: 0;
}
.carousel_reel {
	width: max-content;
}
.carousel_reel > * {
	/* MEMO: carousel_reel が width: ${item.length}*100% なら要らない */
	width: var(--cellWidth);
	scroll-snap-stop: always;
	scroll-snap-align: center;
}
/* 矢印ボタン */
.carousel_arrows {
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
}
.carousel_arrow {
	cursor: pointer;
	position: absolute;
	top: -24px;
	width: 48px;
	height: 48px;
	border-radius: 48px;
	color: var(--themecolor);
	background: white;
	transition: opacity .4s, filter .4s;
}
.carousel_arrow:where(.-prev) { left: -24px; }
.carousel_arrow:where(.-next) { right: -24px; }
.carousel_arrow:not(:disabled) {
	filter: drop-shadow(0 2px 8px #3730391a);
}
.carousel_arrow:disabled {
	pointer-events: none;
	opacity: .2;
	transition-duration: .1s;
}
.carousel_arrow .arr {
	position: absolute;
	top: 25%;
	width: 50%;
	height: 50%;
	fill: none;
	stroke: currentcolor;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.carousel_arrow:where(.-prev) .arr { right: 28%; }
.carousel_arrow:where(.-next) .arr { left: 28%; }
.carousel_pagination {
	display: flex;
	justify-content: center;
	column-gap: 16px;
	margin-top: 16px;
}
@media screen and (max-width: 479px) {
	.carousel_arrow {
		top: -16px;
		width: 32px;
		height: 32px;
	}
}
/* ページネーション */
.carousel_pagination .dot {
	cursor: pointer;
	flex-basis: 6px;
	height: 6px;
	border-radius: 6px;
	color: var(--themecolor);
	background: #eeeff1;
	transition: background .4s, transform .4s var(--easeOut);
}
.carousel_pagination .dot.is-active {
	animation: dotAnim .2s backwards;
	background: currentcolor;
	transform: scale(1.2);
}
@keyframes keypressAnim {
	from { outline-offset: 0; }
	10% { outline-offset: 4px; }
	to { outline-offset: 0; }
}
@keyframes dotAnim {
	from { transform: none; }
	20% { transform: scale(1.4); background: currentcolor; }
	to { transform: scale(1.2); }
}

/* :::::: 両脇をグラデーション :::::: */
.js-carousel.-gradient {
	--sideSpace: 48px;
}
.js-carousel.-gradient .carousel_reel > * {
	width: calc(var(--cellWidth) - var(--sideSpace));
}
@media screen and (max-width: 767px) {
	.js-carousel.-gradient {
		--sideSpace: 32px;
	}
}
@media screen and (max-width: 479px) {
	.js-carousel.-gradient {
		--sideSpace: 24px;
	}
}
.js-carousel.-gradient .carousel_container {
	margin-inline: calc(var(--sideSpace) * -1);
	-webkit-mask-image: linear-gradient(
		to right,
		#fff0,
		#fff2 calc(var(--sideSpace) / 3),
		#fff var(--sideSpace),
		#fff calc(100% - var(--sideSpace)),
		#fff2 calc(100% - var(--sideSpace) / 3),
		#fff0
	);
	mask-image: linear-gradient(
		to right,
		#fff0,
		#fff2 calc(var(--sideSpace) / 3),
		#fff var(--sideSpace),
		#fff calc(100% - var(--sideSpace)),
		#fff2 calc(100% - var(--sideSpace) / 3),
		#fff0
	);
}
.js-carousel.-gradient .carousel_reel {

	padding-inline: var(--sideSpace);
}

/* :::::: インスタグラム風 :::::: */
.js-carousel.-instagram .carousel_reel .image img {
	aspect-ratio: 1 / 1;
	object-fit: contain;
	background: #373039;
}
/* 左右の矢印のデザイン */
.js-carousel.-instagram .carousel_arrow {
	top: calc(50% - 12px);
	width: 24px;
	height: 24px;
	filter: drop-shadow(0 2px 2px #3730391a);
}
.js-carousel.-instagram .carousel_arrow.-prev { left: 8px; }
.js-carousel.-instagram .carousel_arrow.-next { right: 8px; }
.js-carousel.-instagram .carousel_arrow .arr {
	stroke: #dadcde;
	stroke-width: 4;
}
/* ページネーションの位置 */
.js-carousel.-instagram .carousel_pagination {
	z-index: 2;
	position: absolute;
	right: 0;
	bottom: 16px;
	left: 0;
}
.js-carousel.-instagram .carousel_pagination .dot {
	color: white;
}
.js-carousel.-instagram .carousel_pagination .dot:not(.is-active) {
	opacity: .3;
}
.js-carousel.-instagram .carousel_pagination .dot.is-active {
	animation: none;
	background: white;
}


/**
 * スクロールコンテナ
 * ---------------------------------------- */
.c-scrollcontainer {
	scroll-behavior: smooth;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #dadcde #fafafd;
	scroll-snap-align: center;
	overscroll-behavior: auto;
	-webkit-overflow-scrolling: touch;
}
.c-scrollcontainer:where(.-x) {
	overflow-y: hidden;
	padding-bottom: 8px;
}
.c-scrollcontainer:where(.-y) {
	overflow-x: hidden;
	padding-right: 8px;
}
.c-scrollcontainer::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.c-scrollcontainer::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: #dadcde;
}
.c-scrollcontainer::-webkit-scrollbar-track {
	border-radius: 8px;
	background: #eeeff1;
}
@media (hover: hover) {
	.c-scrollcontainer::-webkit-scrollbar-thumb {
		transition: background .4s;
	}
	.c-scrollcontainer::-webkit-scrollbar-thumb:hover {
		background: #c2c4ca;
		transition-duration: .1s;
	}
}


/**
 * よくあるレイアウト (カセット)
 * ---------------------------------------- */
.c-storyboard .image img {
	width: 100%;
}
@media print, (min-width: 768px) {
	.c-storyboard {
		display: grid;
		grid-template-columns: calc(40% - 24px) calc(60% - 24px);
		gap: 16px 48px;
		align-items: center;
	}
	.c-storyboard:where(.-wrap) {
		display: block;
	}
	.c-storyboard:where(.-reverse) {
		grid-template: auto / calc(60% - 24px) calc(40% - 24px);
	}
	.c-storyboard > * {
		margin: 0;
	}
	.c-storyboard .c-title {
		align-self: flex-end;
	}
	.c-storyboard .image {
		grid-row: 1 / 4;
		align-self: center;
	}
	.c-storyboard .image,
	.c-storyboard .image img {
		height: 100%;
	}
	.c-storyboard .image img {
		object-fit: cover;
	}
	.c-storyboard .image,
	.c-storyboard.-reverse :not(.image) {
		grid-column: 1 / 2 ;
	}
	.c-storyboard :not(.image),
	.c-storyboard.-reverse .image {
		grid-column: 2 / 3;
	}
}
@media screen and (max-width: 767px) {
	.c-storyboard {
		display: flex;
		flex-direction: column;
	}
	.c-storyboard .c-title {
		order: -1;
		align-self: flex-start;
	}
	.c-storyboard .c-button {
		align-self: center;
	}
	.c-storyboard .image {
		order: -1;
		margin-top: 16px;
	}
}


/**
 * テーブルスタイル
 * ---------------------------------------- */
.c-table .wrap {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	will-change: scroll-position;
	overscroll-behavior: none auto;
	scroll-snap-type: x mandatory;
	scroll-snap-align: center;
	scrollbar-width: auto;
	scrollbar-color: #dadcde #eeeff1;
	padding-bottom: 8px;
}
@-moz-document url-prefix() {
	.c-table .wrap {
		padding-bottom: 16px;
	}
}
.c-table .wrap::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.c-table .wrap::-webkit-scrollbar-thumb {
	border-radius: 8px;
	box-shadow: none;
	background: #dadcde;
}
.c-table .wrap::-webkit-scrollbar-track {
	width: 16px;
	height: 16px;
	border-radius: 6px;
	background: #eeeff1;
}
@media (hover: hover) {
	.c-table .wrap::-webkit-scrollbar-thumb {
		transition: background .4s;
	}
	.c-table .wrap::-webkit-scrollbar-thumb:hover {
		background: #dadcde;
		transition-duration: .1s;
	}
	.c-table .wrap::-webkit-scrollbar-track:decrement {
		background: red;
	}
}
.c-table table {
	width: 100%;
	border-collapse: collapse;
}
.c-table .wrap table {
	min-width: 480px;
}
.c-table caption {
	text-align: left;
}
.c-table td,
.c-table th {
	padding: .6em 1em;
	border: 1px solid #dadcde;
	line-height: 1.6;
}
.c-table th {
	white-space: nowrap;
}
.c-table thead th {
	background: #fafafd;
}
.c-table tbody {
	text-align: left;
}
.c-table tbody th {
	color: var(--themecolor);
}
.c-table .slash {
	position: relative;
	overflow: hidden;
}
.c-table .slash svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #dadcde;
}
.c-table .-c {
	text-align: center;
}
.c-table .-r {
	text-align: right;
}
.c-table .-v {
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	line-height: 1;
	white-space: nowrap;
}
html.wf-active .c-table .-v {
	line-height: 1.6;
}

/* 角丸にしたい時は separate じゃないと駄目 */
.c-table table.round {
	border-collapse: separate;
	border-spacing: 0;
}
.c-table .round .-tl {
	border-top-left-radius: 8px;
}
.c-table .round .-tr {
	border-top-right-radius: 8px;
}
.c-table .round .-br {
	border-bottom-right-radius: 8px;
}
.c-table .round .-bl {
	border-bottom-left-radius: 8px;
}
.c-table .round td,
.c-table .round th {
	padding: .6em 1em;
	border-top-width: 0;
	border-right-width: 0;
}
.c-table .round th:last-child,
.c-table .round td:last-child {
	border-right-width: 1px;
}
.c-table .round thead tr:first-child th {
	border-top-width: 1px;
}
.c-table .round tbody tr:last-child th,
.c-table .round tbody tr:last-child td {
}


/**
 * 動画 UI
 * ---------------------------------------- */
.c-video {
	position: relative;
	border: 10px solid #fff;
	border-radius: 16px;
	background: #fff;
	box-shadow: 0 2px 8px #3730391a;
}
.js-yt,
.js-video,
.c-video .wrap {
	aspect-ratio: 16 / 9;
}
.js-yt {
	height: auto;
}
.c-video .wrap .js-yt,
.c-video .wrap .js-video {
	aspect-ratio: auto;
}
.c-video .wrap > *,
.c-video .poster,
.c-video .poster::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.c-video .wrap > *,
.c-video .poster::after,
.c-video .poster img {
	border-radius: 8px;
}
.c-video .poster {
	cursor: pointer;
	transition: opacity .3s;
}
.c-video.is-playing .poster {
	opacity: 0;
}
.c-video .poster::after {
	content: "";
	background: rgba(0,0,0,.2);
}
.c-video .poster img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.c-video .play {
	pointer-events: none;
	z-index: 1;
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	width: 48px;
	height: 48px;
	padding: 0;
	border: 0;
	border-radius: 40px;
	color: transparent;
	background: rgba(255,255,255,.9);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.c-video .play::after {
	content: "";
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 6px);
	width: 15px;
	height: 16px;
	background: linear-gradient(to bottom left, transparent 48%, var(--themecolor) 52%) top left / 100% 50% no-repeat,
		linear-gradient(to top left, transparent 48%, var(--themecolor) 52%) bottom left / 100% 50% no-repeat;
}
@media (hover: hover) {
	.c-video .play {
		transition: transform .4s var(--easeOut);
	}
	.c-video .poster::after {
		transition: background .4s;
	}
	.c-video:hover .play {
		transform: scale(1.2);
		transition-duration: .1s;
	}
	.c-video:hover .poster::after {
		background: rgba(0,0,0,.1);
		transition-duration: .1s;
	}
}


/**
 * スライドショー
 * ---------------------------------------- */
.c-slideshow {
	--interval: 8s;
	position: relative;
	overflow: hidden;
}
.c-slideshow .item:not(:first-child) {
	position: absolute;
	inset: 0;
}
.c-slideshow .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.c-slideshow .item {
	animation: slideshow_fade linear infinite both, slideshow_zoom linear infinite both;
	animation-duration: calc(var(--interval) * 2);
}
@keyframes slideshow_fade {
	from, 22.5%, 77.5%, to { opacity: 0; }
	27.5%, 72.5% { opacity: 1; }
}
@keyframes slideshow_zoom {
	from, 22.5%, to { transform: scale(1.1); }
	77.5% { transform: none; }
}
.c-slideshow .item:nth-child(1) { animation-delay: calc(var(--interval) * -.5); }
.c-slideshow .item:nth-child(2) { animation-delay: calc(var(--interval) * .5); }
.c-slideshow .item:nth-child(3) { animation-delay: calc(var(--interval) * 1.5); }
.c-slideshow .item:nth-child(4) { animation-delay: calc(var(--interval) * 2.5); }
.c-slideshow .item:nth-child(5) { animation-delay: calc(var(--interval) * 3.5); }
.c-slideshow .item:nth-child(6) { animation-delay: calc(var(--interval) * 4.5); }

/* :::::: 3枚用 :::::: */
.c-slideshow.-item3 .item {
	animation-name: slideshow_fade3, slideshow_zoom3;
	animation-duration: calc(var(--interval) * 3);
}
@keyframes slideshow_fade3 {
	from, 15%, 51.67%, to { opacity: 0; }
	18.33%, 48.33% { opacity: 1; }
}
@keyframes slideshow_zoom3 {
	from, 15%, to { transform: scale(1.1); }
	51.67% { transform: none; }
}

/* :::::: 4枚用 :::::: */
.c-slideshow.-item4 .item {
	animation-name: slideshow_fade4, slideshow_zoom4;
	animation-duration: calc(var(--interval) * 4);
}
@keyframes slideshow_fade4 {
	from, 11.25%, 38.75%, to { opacity: 0; }
	13.75%, 36.25% { opacity: 1; }
}
@keyframes slideshow_zoom4 {
	from, 11.25%, to { transform: scale(1.1); }
	38.75% { transform: none; }
}

/* :::::: 5枚用 :::::: */
.c-slideshow.-item5 .item {
	animation-name: slideshow_fade5, slideshow_zoom5;
	animation-duration: calc(var(--interval) * 5);
}
@keyframes slideshow_fade5 {
	from, 9%, 31%, to { opacity: 0; }
	11%, 29% { opacity: 1; }
}
@keyframes slideshow_zoom5 {
	from, 9%, to { transform: scale(1.1); }
	31% { transform: none; }
}

/* :::::: 6枚用 :::::: */
.c-slideshow.-item6 .item {
	animation-name: slideshow_fade6, slideshow_zoom6;
	animation-duration: calc(var(--interval) * 6);
}
@keyframes slideshow_fade6 {
	from, 7.5%, 25.83%, to { opacity: 0; }
	9.17%, 24.17% { opacity: 1; }
}
@keyframes slideshow_zoom6 {
	from, 7.5%, to { transform: scale(1.1); }
	25.83% { transform: none; }
}


/**
 * アコーディオン UI
 * ---------------------------------------- */
.js-accordion {
	overflow: hidden;
}
.js-accordion .acc_head {
	cursor: pointer;
}
.js-accordion .acc_body {
	margin: 0 !important;
}
.js-accordion .acc_head .ico {
	fill: none;
	stroke: currentcolor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.acc_head:not(.is-active) {
	background: none;
}
.acc_head.is-active .ico {
	transform: rotateX(180deg);
}
.js-accordion.is-anim {
	transition: height .4s var(--easeOut);
}
.js-accordion.is-anim .acc_body {
	transition: opacity .4s;
}
.acc_head.is-anim {
	transition: background .4s;
}
.acc_head.is-anim .ico {
	transition: transform .4s var(--easeInOut);
}
@media (hover: hover) {
	.js-accordion .acc_head {
		transition: background .4s;
	}
	.js-accordion .acc_head:hover {
		background: #fafafd;
		transition-duration: .1s;
	}
}


/**
 * プルダウン UI
 * ---------------------------------------- */
.js-pullContent {
	position: relative;
	overflow: hidden;
}
.js-pullContent.-gradient[data-default] {
	-webkit-mask-position: center top;
	-webkit-mask-size: 100% 100%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: linear-gradient(
		to bottom, #fff 30%, #fff2 70%, #fff0
	);
	mask-position: center top;
	mask-size: 100% 100%;
	mask-repeat: no-repeat;
	mask-image: linear-gradient(
		to bottom, #fff 30%, #fff2 70%, #fff0
	);
}
.js-pullToggle {
	cursor: pointer;
	position: relative;
}
.js-pullToggle .open,
.js-pullToggle .close {
	display: inline-block;
	white-space: nowrap;
}
.js-pullToggle .close {
	position: absolute;
	inset: 0;
	width: fit-content;
	height: fit-content;
	margin: auto;
}
/* button */
.c-pull {
	display: inline-grid;
	place-items: center;
	position: relative;
	width: 32px;
	height: 32px;
	border-radius: 48px;
	border: 1.5px solid var(--themecolor);
	border-radius: 32px;
	color: white;
	line-height: 0;
	background: var(--themecolor);
}
:where(.js-pullContent[data-default]) + .c-pull {
	top: -16px;
}
.c-pull.-border::before {
	content: "";
	z-index: -1;
	position: absolute;
	top: calc(50% - 1px);
	border-image: linear-gradient(gainsboro, gainsboro) fill 0 / 0 / .5px 50vw;
}
.c-pull.is-active {
	color: var(--themecolor);
	background: white;
}
.c-pull .arr {
	width: 40%;
	fill: none;
	stroke: currentcolor;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}
@media (hover: hover) {
	.c-pull {
		transition: color .4s, background .4s;
	}
	.c-pull:hover {
		color: var(--themecolor);
		background: white;
		transition-duration: .1s;
	}
	.c-pull.is-active:hover {
		color: white;
		background: var(--themecolor);
	}
}
/* motion */
.js-pullContent.-gradient[data-default].is-active {
	-webkit-mask-size: 100% 300%;
}
.js-pullContent:not([data-default]):not(.is-active) {
	opacity: 0;
}
.js-pullToggle.is-active .arr {
	transform: rotateX(180deg);
}
.js-pullToggle.is-active .open,
.js-pullToggle:not(.is-active) .close {
	opacity: 0;
	transform: translateY(-.5em);
}
.js-pullToggle.is-anim.is-active .open,
.js-pullToggle.is-anim:not(.is-active) .close {
	transform: translateY(.5em);
}
.js-pullContent[data-default].is-anim {
	transition: height .6s var(--easeInOut);
}
.js-pullContent.-gradient[data-default].is-anim {
	animation: gradientFade .6s both;
}
.js-pullContent.-gradient[data-default].is-anim:not(.is-active) {
	animation: gradientFade .6s reverse both;
}
.js-pullContent:not([data-default]).is-anim {
	transition: opacity .6s, height .6s var(--easeInOut);
}
.js-pullContent:not([data-default]).is-anim:not(.is-active) {
	transition-timing-function: ease, var(--easeOut);
}
.js-pullToggle.is-anim .arr {
	transition: transform .4s var(--easeOut);
}
.js-pullToggle.is-anim .open,
.js-pullToggle.is-anim .close {
	transition: opacity .4s, transform .4s var(--easeOut);
}
@keyframes gradientFade {
	from { -webkit-mask-size: 100% 100%; }
	to { -webkit-mask-size: 100% 300%; }
}


/**
 * スムーススクロール
 * ---------------------------------------- */
html.is-smooth .wrapper {
	position: fixed;
	inset: 0;
	height: 100%;
}
html.is-smooth .wrapper > .container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
