@charset "utf-8";

/**
 * キービジュアル
 * ---------------------------------------- */
.p-keyvisual {
	position: relative;
	margin: 0 -48px;
}
@media (hover: hover) {
	.p-keyvisual .c-button:hover {
		color: white;
		background: var(--themecolor);
	}
}
@media print, (min-width: 767px) {
	.p-keyvisual .slider_item {
		max-width: 1000px;
	}
	.p-keyvisual .slider_item img {
		max-height: 400px;
		object-fit: cover;
	}
}
@media print, (min-width: 601px) {
	.p-keyvisual {
		background: #86c0de;
	}
	.p-keyvisual .slider_item {
		transition: opacity .3s;
	}
	.p-keyvisual .slider_item:not(.is-selected) {
		opacity: .2;
	}
}
@media screen and (max-width: 767px) {
	.p-keyvisual {
		margin-inline: -32px;
	}
}
@media screen and (max-width: 479px) {
	.p-keyvisual {
		margin-inline: -24px;
	}
}
.keyvisual_slider:not(.flickity-enabled) {
	position: relative;
}
.keyvisual_slider:not(.flickity-enabled) .slider_item:first-of-type {
	width: fit-content;
	margin-inline: auto;
}
.keyvisual_slider:not(.flickity-enabled) .slider_item:not(:first-of-type) {
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: var(--themecolor);
}
/* バッヂ */
.p-keyvisual .c-badge {
	z-index: 1;
	position: absolute;
	overflow: hidden;
	left: 24px;
	bottom: -40px;
	width: 200px;
	height: 200px;
	color: #86c0de;
	border: 4px solid #fafafd;
	border-radius: 200px;
	font-size: 12px;
	line-height: 1.4;
	font-weight: 700;
	text-align: center;
	background: #fafafd;
	box-shadow: 0 2px 8px #3730391a;
}
.p-keyvisual .c-badge img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 240px;
}
.p-keyvisual .c-badge::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5em;
	background: inherit;
}
.p-keyvisual .c-badge .text {
	position: absolute;
	top: calc(100% - 4em);
	left: 0;
	width: 100%;
	white-space: nowrap;
}
@media screen and (max-width: 479px) {
	.p-keyvisual .c-badge {
		width: 160px;
		height: 160px;
		font-size: 10px;
	}
}


.c-title {
	text-transform: uppercase;
}


/**
 * About
 * ---------------------------------------- */
.p-about .c-title {
	color: inherit;
}
.p-about .c-button {
	margin-top: 40px;
}
@media screen and (min-width: 768px) {
	.p-about .c-lead {
		text-align: center;
	}
}


/**
 * News
 * ---------------------------------------- */
.p-news .c-archivelist {
	margin-top: 40px;
}
.p-news .c-more {
	margin-top: 24px;
}


/**
 * Works / Company
 * ---------------------------------------- */
.p-works,
.p-company {
	max-width: 1200px;
}
.p-works .c-lead,
.p-company .c-lead  {
	margin-top: 0;
}
.c-storyboard {
	gap: 16px 48px;
}
@media screen and (min-width: 768px) {
	.c-storyboard .image img {
		border-radius: 8px;
	}
}
@media screen and (max-width: 767px) {
	.c-storyboard {
		align-items: center;
	}
	.c-storyboard .image {
		margin-inline: calc(var(--sideGap) * -1);
	}
}


/**
 * お問い合わせ
 * ---------------------------------------- */
.c-conversion {
	display: grid;
	place-items: center;
	place-content: center;
	height: 400px;
	margin-inline: -48px;
	border: 8px solid var(--themecolor);
	color: white;
	white-space: nowrap;
	text-align: center;
	background: var(--themecolor);
}
.c-conversion .main {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: .1em;
}
.c-conversion .sub {
	line-height: 1.6;
}
.c-conversion .ico {
	position: relative;
	top: -.1em;
	width: 1.2em;
	height: 1.2em;
	margin-right: .4em;
	fill: currentcolor;
	vertical-align: middle;
}
@media (hover: hover) {
	.c-conversion {
		transition: color .4s, background .4s;
	}
	.c-conversion .arr {
		transition: transform .4s var(--easeOut);
	}
	.c-conversion:hover {
		color: var(--themecolor);
		background: white;
		transition-duration: .1s;
	}
	.c-conversion:hover .arr {
		transform: translateX(.2em);
		transition-duration: .1s;
	}
}
@media screen and (max-width: 767px) {
	.c-conversion {
		height: 320px;
		margin-inline: -32px;
	}
	.c-conversion .main {
		font-size: 32px;
	}
	.c-conversion .sub {
		font-size: 14px;
	}
}
@media screen and (max-width: 479px) {
	.c-conversion {
		height: 240px;
		margin-inline: -24px;
	}
	.c-conversion .main {
		font-size: 24px;
	}
	.c-conversion .sub {
		font-size: 12px;
	}
}
