@charset "utf-8";

.p-map {
	height: 480px;
	margin: 80px -24px;
}


.c-flextextarea {
	position: relative;
	width: 100%;
	height: fit-content;
}
.c-flextextarea .dummy,
.c-flextextarea textarea {
	padding: .5em 1em;
	border: 1px solid transparent;
	letter-spacing: .1em;
	white-space: pre-wrap;
	word-break: break-all;
}
.c-flextextarea .dummy {
	min-height: 120px;
}
.c-flextextarea textarea {
	resize: none;
	position: absolute;
	inset: 0;
	border-color: gainsboro;
	border-radius: 8px;
	background: rgba(255,255,255,.9);
	transition: border .4s;
}
.c-flextextarea textarea:focus {
	outline: 0;
	border-color: gray;
}



.c-video {
	max-width: 560px;
	margin: 40px auto;
}

.c-balloon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10em;
	height: 10em;
	margin: 2em auto;
	border: 1px solid currentcolor;
	border-radius: 10em;
	color: #86c0de;
	line-height: 1.4;
	font-weight: 700;
	text-align: center;
}

.c-pop.js-inview:not(.is-inview) {
	opacity: 0;
	transform: scale(.2);
}
.c-pop.is-anim {
	animation: pop 1s;
	transition: opacity .3s;
}
@keyframes pop {
	from { transform: scale(.2); }
	20% { transform: scale(1.4); }
	40% { transform: scale(.9); }
	60% { transform: scale(1.1); }
	80% { transform: scale(.96); }
	to { transform: none; }
}

.c-list.js-inview:not(.is-inview) li {
	opacity: 0;
}
.c-list.is-anim li {
	transition: opacity .6s;
}
.c-list.is-anim li:nth-child(2) { transition-delay: 1s; }
.c-list.is-anim li:nth-child(3) { transition-delay: 2s; }
.c-list.is-anim li:nth-child(4) { transition-delay: 3s; }
.c-list.is-anim li:nth-child(5) { transition-delay: 4s; }

/**
 * 動画 UI
 * ---------------------------------------- */
.c-video {
	position: relative;
	border: 10px solid #fff;
	border-radius: 18px;
	background: #fff;
	box-shadow: 0 3px 10px #86c0de68;
}
.c-video .wrap {
	height: 0;
	padding-bottom: 56.25%;
}
.c-video .wrap > *,
.c-video .poster,
.c-video .poster::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.c-video .wrap > *,
.c-video .poster::after,
.c-video .poster img {
	border-radius: 10px;
}
.c-video .wrap > *,
.c-video .poster img {
	object-fit: cover;
}
.c-video .poster {
	cursor: pointer;
	transition: opacity .3s;
}
.c-video.is-playing .poster {
	opacity: 0;
}
.c-video .poster::after {
	content: "";
	background: rgba(0,0,0,.2);
}
.c-video .poster img {
	width: 100%;
	height: 100%;
}
.c-video .play {
	pointer-events: none;
	z-index: 1;
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	width: 48px;
	height: 48px;
	padding: 0;
	border: 0;
	border-radius: 40px;
	color: transparent;
	background: rgba(255,255,255,.9);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.c-video .play::after {
	content: "";
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 6px);
	width: 15px;
	height: 16px;
	background: linear-gradient(to bottom left, transparent 48%, #86c0de 52%) top left / 100% 50% no-repeat,
		linear-gradient(to top left, transparent 48%, #86c0de 52%) bottom left / 100% 50% no-repeat;
}
@media (hover: hover) {
	.c-video .play {
		transition: transform .3s cubic-bezier(.3,1,.7,1);
	}
	.c-video .poster::after {
		transition: background .3s;
	}
	.c-video:hover .play {
		transform: scale(1.2);
	}
	.c-video:hover .poster::after {
		background: rgba(0,0,0,.1);
	}
}
