@charset "utf-8";

/**
 * キービジュアル
 * ---------------------------------------- */
.p-keyvisual {
	position: relative;
	margin: 0 -48px;
}
.p-keyvisual .c-button {
	z-index: 1;
	position: absolute;
	right: 24px;
	bottom: 24px;
	width: auto;
	max-width: calc(100% - 48px);
	color: var(--themecolor);
	border-color: white;
	background: white;
}
.flickity-enabled:focus {
	outline: 2px solid #275dc5;
	border-radius: 2px;
	box-shadow: 0 0 0 4px white;
}
@media (hover: hover) {
	.p-keyvisual .c-button:hover {
		color: white;
		background: var(--themecolor);
	}
}
@media screen and (max-width: 767px) {
	.p-keyvisual {
		margin-inline: -32px;
	}
}
@media screen and (max-width: 479px) {
	.p-keyvisual {
		margin-inline: -24px;
	}
}


/**
 * セクション
 * ---------------------------------------- */
.l-section {
	max-width: 960px;
	margin: 160px auto;
	text-align: center;
}
.l-section.-stickout {
	max-width: none;
	margin-inline: calc(50% - 50vw);
}
@media screen and (max-width: 767px) {
	.l-section {
		margin-block: 120px;
	}
}
@media screen and (max-width: 479px) {
	.l-section {
		margin-block: 80px;
	}
}


/**
 * このサイトについて
 * ---------------------------------------- */
.p-about .c-title {
	text-transform: uppercase;
}


/**
 * News
 * ---------------------------------------- */
.p-news .c-title {
	text-transform: uppercase;
}
.p-news .c-button {
	margin-top: 48px;
}

/* :::::: アーカイブリスト :::::: */
.p-news .c-archivelist {
	margin-top: 40px;
}

/* inview */
.c-archivelist.js-inview:not(.is-inview) li {
	opacity: 0;
}
.c-archivelist.is-anim li {
	transition: opacity .6s;
}
.c-archivelist.is-anim li:nth-child(2) { transition-delay: .1s; }
.c-archivelist.is-anim li:nth-child(3) { transition-delay: .2s; }
.c-archivelist.is-anim li:nth-child(4) { transition-delay: .3s; }
.c-archivelist.is-anim li:nth-child(5) { transition-delay: .4s; }
.c-archivelist.is-anim li:nth-child(6) { transition-delay: .5s; }
.c-archivelist.is-anim li:nth-child(7) { transition-delay: .6s; }
.c-archivelist.is-anim li:nth-child(8) { transition-delay: .7s; }
.c-archivelist.is-anim li:nth-child(9) { transition-delay: .8s; }


/**
 * Flickity.js
 * ---------------------------------------- */
.p-flickity .c-archivelist {
	margin-top: 40px;
}

/* Flickity なら flex をやめて item の横幅固定 */
.c-archivelist.js-slider {
	display: block;
}
.c-archivelist.js-slider[data-dots] {
	padding-bottom: 24px;
}
.c-archivelist.js-slider .archive_item {
	width: 320px;
	margin-right: 24px;
}
@media screen and (max-width: 767px) {
	.c-archivelist.js-slider .archive_item {
		width: 280px;
	}
}
@media screen and (max-width: 359px) {
	.c-archivelist.js-slider .archive_item {
		width: 240px;
		margin-right: 16px;
	}
}

/* :::::: アーカイブリストの Flickity レイアウト :::::: */
.c-archivelist .flickity-viewport {
	margin-inline: calc(50% - 50vw);
}
.c-archivelist .flickity-slider {
	width: calc(100% - (100vw - 480px * 2));
	margin-left: calc(50vw - 480px);
}
.c-archivelist .flickity-page-dots {
	bottom: 0;
}
.c-archivelist .flickity-page-dots .dot {
	background: var(--themecolor);
}
@media screen and (max-width: 1055px) {
	/* セクション幅 960px + main の両端パディング 48px * 2 = 1056px (未満) */
	.c-archivelist .flickity-viewport {
		margin-inline: -48px;
	}
	.c-archivelist .flickity-slider {
		width: calc(100% - 48px * 2);
		margin-left: 48px;
	}
}
@media screen and (max-width: 767px) {
	.c-archivelist .flickity-viewport {
		margin-inline: -32px;
	}
	.c-archivelist .flickity-slider {
		width: calc(100% - 32px * 2);
		margin-left: 32px;
	}
}
@media screen and (max-width: 479px) {
	.c-archivelist .flickity-viewport {
		margin-inline: -24px;
	}
	.c-archivelist .flickity-slider {
		width: calc(100% - 24px * 2);
		margin-left: 24px;
	}
}
/* タッチデバイス以外は prev-next-button と両端グラデーション表示 */
html.isTouch .c-archivelist .flickity-prev-next-button,
html.isTouch .c-archivelist .flickity-viewport::before,
html.isTouch .c-archivelist .flickity-viewport::after {
	display: none;
}
.c-archivelist .flickity-viewport::before,
.c-archivelist .flickity-viewport::after {
	content: "";
	z-index: 1;
	pointer-events: none;
	position: absolute;
	width: calc(50vw - 480px);
	top: 0;
	bottom: 0;
}
.c-archivelist .flickity-viewport::before {
	left: calc(50% - 50vw);
	background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,.1) 20%, white);
}
.c-archivelist .flickity-viewport::after {
	right: calc(50% - 50vw);
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,.1) 20%, white);
}
.c-archivelist .flickity-prev-next-button {
	z-index: 2;
	width: 48px;
	height: 48px;
	top: calc(240px / 2);
	background: white;
}
.c-archivelist .flickity-prev-next-button.previous {
	left: -72px;
}
.c-archivelist .flickity-prev-next-button.next {
	right: -72px;
}
.c-archivelist .flickity-button:disabled {
	opacity: .2;
}
.c-archivelist .flickity-button-icon {
	top: 25%;
	width: 50%;
	height: 50%;
	fill: none;
	stroke: var(--themecolor);
	stroke-width: 12;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.c-archivelist .previous .flickity-button-icon {
	left: 24%;
}
.c-archivelist .next .flickity-button-icon {
	left: 26%;
}
@media screen and (max-width: 1055px) {
	/* セクション幅 960px + main の両端パディング 48px * 2 = 1056px (未満) */
	.c-archivelist .flickity-viewport::before,
	.c-archivelist .flickity-viewport::after {
		width: 48px;
	}
	.c-archivelist .flickity-viewport::before {
		left: 0;
	}
	.c-archivelist .flickity-viewport::after {
		right: 0;
	}
	.c-archivelist .flickity-prev-next-button.previous {
		left: -24px;
	}
	.c-archivelist .flickity-prev-next-button.next {
		right: -24px;
	}
}
@media screen and (max-width: 767px) {
	.c-archivelist .flickity-viewport::before,
	.c-archivelist .flickity-viewport::after {
		width: 32px;
	}
	.c-archivelist .flickity-prev-next-button {
		top: calc(210px / 2);
	}
}
@media screen and (max-width: 479px) {
	.c-archivelist .flickity-viewport::before,
	.c-archivelist .flickity-viewport::after {
		width: 24px;
	}
	.c-archivelist .flickity-prev-next-button {
		width: 32px;
		height: 32px;
	}
	.c-archivelist .flickity-prev-next-button.previous {
		left: -16px;
	}
	.c-archivelist .flickity-prev-next-button.next {
		right: -16px;
	}
}
@media screen and (max-width: 359px) {
	.c-archivelist .flickity-prev-next-button {
		top: calc(180px / 2);
	}
}


/**
 * Works
 * ---------------------------------------- */
.p-works .c-title {
	text-transform: uppercase;
}
.p-works .c-cassette .text {
	align-self: flex-start;
}
.p-works .works_button {
	display: inline-grid;
	place-items: center;
	height: 48px;
	margin-top: 24px;
	border: 2px solid currentcolor;
	border-radius: 48px;
}
.p-works .works_button.-txt {
	width: 240px;
	border-radius: 8px;
	color: var(--themecolor);
}
.p-works .works_button.-arr {
	position: relative;
	width: 48px;
	border: 1.5px solid #dadcde;
	color: white;
	background: #dadcde;
}
.p-works .works_button.-arr::before {
	content: "";
	z-index: -1;
	position: absolute;
	inset: 0;
	border-image: linear-gradient(#dadcde, #dadcde) fill 0 / 49% 0 / 0 50vw;
}
.p-works .works_button.-arr .arr {
	width: 40%;
	fill: none;
	stroke: currentcolor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.p-works .works_button.is-active .arr {
	margin-top: -1px;
}
.p-works .works_button:not(.is-active) .arr {
	margin-bottom: -1px;
}
.p-works .works_content {
	margin-top: 24px;
}
.p-works .works_content .works_button {
	margin-top: 24px;
}
.p-works .works_content::after {
	height: 160px;
}
@media (hover: hover) {
	.p-works .works_button.-txt {
		background: linear-gradient(var(--themecolor), var(--themecolor)) left bottom / 100% 0 no-repeat;
		transition: color .4s, background-size .4s;
	}
	.p-works .works_button.-txt:hover {
		color: white;
		background-position: left top;
		background-size: 100% 100%;
		transition-duration: .1s;
	}
	.p-works .works_button.-txt.is-active {
		background-position: left top;
	}
	.p-works .works_button.-txt.is-active:hover {
		background-position: left bottom;
	}
	.p-works .works_button.-arr {
		transition: color .4s, background .4s;
	}
	.p-works .works_button.-arr:hover {
		color: #dadcde;
		background: white;
		transition-duration: .1s;
	}
}


/**
 * よくあるご質問
 * ---------------------------------------- */
.p-faq {}
.c-faq {
	margin-top: 40px;
	font-size: 16px;
	text-align: left;
}
.faq_item {
	counter-increment: num;
	border-bottom: 1px solid #dadcde;
}
.faq_item:first-child {
	border-top: 1px solid #dadcde;
}
.faq_q,
.faq_a {
	position: relative;
	padding: 24px 40px 24px 64px;
}
.faq_q {
	color: var(--themecolor);
	font-size: 18px;
	font-weight: 700;
}
.faq_a {
	padding: 16px 40px 24px 64px;
}
.faq_q::before,
.faq_a::before {
	content: "Q" counter(num) ".";
	position: absolute;
	top: 24px;
	left: 16px;
	color: var(--themecolor);
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
}
.faq_a::before {
	content: "A" counter(num) ".";
	top: 16px;
	color: #c2c4ca;
}
.faq_q .ico {
	position: absolute;
	top: calc(50% - 8px);
	right: 16px;
	width: 16px;
	height: 16px;
	stroke: var(--themecolor);
	stroke-width: 4;
}
@media (hover: hover) {
	.faq_q {
		transition: background .4s;
	}
	.faq_q:hover {
		background: #fafafd;
		transition-duration: .1s;
	}
}


/**
 * よくあるレイアウト
 * ---------------------------------------- */
.p-store .c-title {
	text-transform: uppercase;
}
.p-store .c-cassette:first-of-type {
	margin-top: 40px;
}


/**
 * テーブルスタイル
 * ---------------------------------------- */
.p-kana .c-table {
	margin-top: 40px;
}
.p-kana .c-table tbody th {
	white-space: nowrap;
}
.p-kana .c-table {
	--border_color: var(--themecolor);
}


/**
 * YouTube
 * ---------------------------------------- */
.p-video .c-video {
	margin-top: 40px;
}


/**
 * Google マップ
 * ---------------------------------------- */
.p-googlemap .p-map {
	height: 480px;
	margin: 40px calc(50% - 50vw) 0;
}
.gm-style img[src$="marker.svg"] {
	filter: drop-shadow(2px 4px 6px rgba(0,0,0,.1));
}
.gm-style div[aria-label="マップ"] > div:first-child > div:nth-child(4) > div:last-child {
	overflow: visible !important;
}


/**
 * お問い合わせ
 * ---------------------------------------- */
.p-contact .c-title {
	text-transform: uppercase;
}
.p-contact {
	max-width: 800px;
}
.p-contact .c-form {
	margin-top: 40px;
}
.p-contact .c-radioui,
.p-contact .c-checkboxui {
	font-size: 14px;
}
.p-contact .contact_accept {
	margin-top: 40px;
	justify-content: center;
}
.p-contact .contact_submit {
	margin: 40px 0 0;
}


/**
 * プライバシーポリシー
 * ---------------------------------------- */
.p-privacypolicy {
	max-width: 800px;
	margin-top: 80px;
}
.p-privacypolicy .privacypolicy_title {
	margin-bottom: 64px;
	color: inherit;
}
.p-privacypolicy p,
.p-privacypolicy li {
	text-align: left;
}
.p-privacypolicy .c-lead {
	margin-top: 24px;
}
.p-privacypolicy h1 {
	font-size: 32px;
}
.p-privacypolicy h2 {
	margin-top: 40px;
	font-size: 24px;
}
.p-privacypolicy h3 {
	margin-top: 1em;
	font-size: 18px;
}
.p-privacypolicy p {
	margin-top: .5em;
}


/**
 * inview animation
 * ---------------------------------------- */
.c-pop.js-inview:not(.is-inview) {
	opacity: 0;
	transform: scale(.2);
}
.c-pop.is-anim {
	animation: pop 1s;
	transition: opacity .3s;
}
@keyframes pop {
	from { transform: scale(.2); }
	20% { transform: scale(1.4); }
	40% { transform: scale(.9); }
	60% { transform: scale(1.1); }
	80% { transform: scale(.96); }
	to { transform: none; }
}
