@charset "utf-8";

.l-section p {
	margin: 1em 0;
	text-align: left;
}
.l-section p + p {
	margin: .6em 0;
}
.l-section .c-lead {
	margin-bottom: 0;
}
.l-section code {
	margin: 0 .2em;
	padding: .2em;
	border-radius: 4px;
	font-family: "Ubuntu Mono", consolas, "Source Code Pro", "Noto Sans JP", monospace;
	background: #eeeff1;
}

/**
 * 下層ページ
 * ---------------------------------------- */
.l-main .p-intro {
	margin-top: 80px;
}










/**
 * inview animation
 * ---------------------------------------- */
.c-pop.js-inview:not(.is-inview) {
	opacity: 0;
	transform: scale(.2);
}
.c-pop.is-anim {
	animation: pop 1s;
	transition: opacity .3s;
}
@keyframes pop {
	from { transform: scale(.2); }
	20% { transform: scale(1.4); }
	40% { transform: scale(.9); }
	60% { transform: scale(1.1); }
	80% { transform: scale(.96); }
	to { transform: none; }
}
