@charset "utf-8";

/**
 * Google マップ
 * ---------------------------------------- */
.page-googlemaps .p-map {
	width: 100%;
	height: 400px;
	margin-top: 24px;
	border-radius: 8px;
}
.page-googlemaps .p-embed .c-button {
	margin-top: 24px;
}
.page-googlemaps .api_section {
	margin-top: 64px;
}
.page-googlemaps .api_section .c-title {
	font-size: 24px;
}
