@charset "utf-8";

/**
 * アーカイブ一覧
 * ---------------------------------------- */
.page-archivelist .p-intro .c-title {
	margin-bottom: 48px;
}

/* :::::: ニュース一覧 :::::: */
.p-archivelist_news .c-archivelist {
	margin-top: 40px;
}

/* :::::: ブログ記事一覧 :::::: */
.p-archivelist_blog .c-archivelist {
	margin-top: 24px;
}
.p-archivelist_blog .c-archivelist .c-button {
	width: fit-content;
	min-height: auto;
	margin-top: .3em;
	padding-right: 40px;
}
.p-archivelist_blog .c-archivelist .image img {
	aspect-ratio: 16 / 9;
	object-fit: cover;
}
@media (hover: hover) {
	.p-archivelist_blog .c-archivelist.-block a.container::before {
		content: "";
		z-index: -1;
		position: absolute;
		inset: -16px;
		border-radius: 8px;
		background: #86c0de1a;
		transition: opacity .4s, transform .4s cubic-bezier(.3,1,.7,1);
	}
	.p-archivelist_blog .c-archivelist.-block a.container:not(:hover)::before {
		opacity: 0;
		transform: scale(.96);
	}
	.p-archivelist_blog .c-archivelist.-block a.container:hover::before {
		transition-duration: .1s;
	}
}

/* :::::: 商品一覧 :::::: */
.p-archivelist_products .c-archivelist {
	margin-top: 40px;
}
.p-archivelist_products .c-scrollcontainer {
	margin-inline: calc(50% - 50vw);
	padding-inline: calc(50vw - 50%);
}
.p-archivelist_products .c-archivelist {
	width: fit-content;
}
.p-archivelist_products .c-archivelist .image {
	overflow: hidden;
	border-radius: 8px;
}
.p-archivelist_products .c-archivelist .image img {
	aspect-ratio: 16 / 9;
	object-fit: cover;
	margin-left: auto;
	border-radius: 0;
	transform: scale(1.1);
}
@media (hover: hover) {
	.p-archivelist_products .c-archivelist .image img {
		transition: transform .4s cubic-bezier(.3,1,.7,1);
	}
	.p-archivelist_products .c-archivelist a:hover .image img {
		transform: none;
		transition-duration: .1s;
	}
}
