@charset "utf-8";

/**
 * アーカイブ一覧
 * ---------------------------------------- */
.page-archivelist .p-intro .c-title {
	margin-bottom: 48px;
}

/* :::::: ブログ記事一覧 :::::: */
.p-archivelist_blog .c-archivelist {
	margin-block: 40px;
}
.p-archivelist_blog .c-archivelist .title,
.p-archivelist_blog .c-archivelist .summary {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.p-archivelist_blog .c-archivelist .title {
	-webkit-line-clamp: 1;
	max-height: 1.6em;
}
.p-archivelist_blog .c-archivelist .summary {
	-webkit-line-clamp: 3;
	max-height: 4.8em;
}

/* :::::: 商品一覧 :::::: */
.p-archivelist_menu .c-archivelist {
	margin-block: 40px;
}

/* :::::: ニュース一覧 :::::: */
.p-archivelist_news .c-archivelist {
	margin-block: 40px;
}
