@charset "utf-8";

/**
 * カルーセル
 * ---------------------------------------- */
.c-archivelist.js-slider {
	margin-top: 40px;
}

/* :::::: アーカイブ一覧をカルーセルにした時 :::::: */
.p-carousel_variation .js-carousel {
	max-width: 396px;
	margin: 40px auto 0;
}
.p-carousel_variation .c-archivelist {
	width: fit-content;
}
/* MEMO: overflow: auto にした時 item の幅を % で指定すると list の幅が親要素幅に潰されてしまう */
.p-carousel_variation .archive_item {
	min-width: 300px;
}
@media screen and (max-width: 359px) {
	.p-carousel_variation .js-carousel {
		max-width: 288px;
	}
	.p-carousel_variation .archive_item {
		min-width: 240px;
	}
}
/* 左右の矢印の位置 */
.p-carousel_variation .js-carousel .arrows {
	top: 100px;
}
.p-carousel_variation .js-carousel .arrow.-prev { left: -72px; }
.p-carousel_variation .js-carousel .arrow.-next { right: -72px; }
@media screen and (max-width: 767px) {
	.p-carousel_variation .js-carousel .arrow.-prev { left: -32px; }
	.p-carousel_variation .js-carousel .arrow.-next { right: -32px; }
}
@media screen and (max-width: 479px) {
	.p-carousel_variation .js-carousel .arrow.-prev { left: -16px; }
	.p-carousel_variation .js-carousel .arrow.-next { right: -16px; }
}
@media screen and (max-width: 359px) {
	.p-carousel_variation .js-carousel .arrows {
		top: 80px;
	}
}
/* 両脇ににグラデーション */
.p-carousel_variation .js-carousel::before,
.p-carousel_variation .js-carousel::after {
	content: "";
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 48px;
}
.p-carousel_variation .js-carousel::before {
	left: -48px;
	background: linear-gradient(to right, #fff, #fff2 80%, #fff0);
}
.p-carousel_variation .js-carousel::after {
	right: -48px;
	background: linear-gradient(to left, #fff, #fff2 80%, #fff0);
}
.p-carousel_variation .js-carouselContainer {
	margin-inline: -48px;
}
.p-carousel_variation .js-carouselReel {
	column-gap: 32px;
	padding-inline: 48px;
}
.p-carousel_variation .js-carousel .pagination {
	position: static;
	margin-top: 16px;
}
@media screen and (max-width: 767px) {
	.p-carousel_variation .js-carousel::before,
	.p-carousel_variation .js-carousel::after {
		width: 32px;
	}
	.p-carousel_variation .js-carousel::before { left: -32px; }
	.p-carousel_variation .js-carousel::after { right: -32px; }
	.p-carousel_variation .js-carouselContainer {
		margin-inline: -32px;
	}
	.p-carousel_variation .js-carouselReel {
		column-gap: 24px;
		padding-inline: 32px;
	}
}
@media screen and (max-width: 479px) {
	.p-carousel_variation .js-carousel::before,
	.p-carousel_variation .js-carousel::after {
		width: 24px;
	}
	.p-carousel_variation .js-carousel::before { left: -24px; }
	.p-carousel_variation .js-carousel::after { right: -24px; }
	.p-carousel_variation .js-carouselContainer {
		margin-inline: -24px;
	}
	.p-carousel_variation .js-carouselReel {
		column-gap: 16px;
		padding-inline: 24px;
	}
	.p-carousel_variation .js-carousel .pagination {
		top: calc(100% + 16px);
		bottom: auto;
	}
}

/* :::::: インスタグラム風 :::::: */
.p-carousel_instagram .js-carousel {
	max-width: 400px;
	margin: 40px auto 0;
	background: #373039;
}
.p-carousel_instagram .js-carouselReel {
	width: fit-content;
}
.p-carousel_instagram .js-carouselReel .item {
	flex-basis: 400px;
	width: max-content;
}
.p-carousel_instagram .js-carouselReel .image img {
	aspect-ratio: 1 / 1;
	object-fit: contain;
}
.p-carousel_instagram .js-carousel .arrow {
	top: calc(50% - 12px);
	width: 24px;
	height: 24px;
	filter: drop-shadow(0 2px 2px #3730391a);
}
.p-carousel_instagram .js-carousel .arrow.-prev { left: 8px; }
.p-carousel_instagram .js-carousel .arrow.-next { right: 8px; }
.p-carousel_instagram .js-carousel .arrow .arr {
	stroke: #dadcde;
	stroke-width: 4;
}
.p-carousel_instagram .js-carousel .pagination .dot {
	color: white;
}
.p-carousel_instagram .js-carousel .pagination .dot:not(.is-active) {
	opacity: .3;
}
.p-carousel_instagram .js-carousel .pagination .dot.is-active {
	animation: none;
	background: white;
}
@media screen and (max-width: 448px) {
	.p-carousel_instagram .js-carouselReel .item {
		max-width: calc(100vw - 48px);
	}
}
